/* SWITCH TO ADMIN MODE */

fieldset.switch-to-admin {
    padding: revert;
    border: 1px solid var(--classroom-text-2);
    border-radius: 10px;
    text-align: center;
    margin: revert;
    min-width: revert;
}

fieldset.switch-to-admin legend {
    color: var(--classroom-text-2);
    width: auto;
    font-size: 0.75em;
    float: none;
}

.c-btn-dashboard {
    color: var(--classroom-dashboard);
    border-color: var(--classroom-dashboard) !important;
}

/* ADMIN PANELS */


#groups_table_groupadmin>tr>th:first-child,
#groups_table_manager>tr>th:first-child {
    cursor: pointer;
}

.group-header {
    display: flex;
    justify-content: flex-start;
}

.group-header h2 {
    font-weight: 700;
    margin-left: 0.5em;
    margin-bottom: 0em;
}

.group-header button {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    align-self: center;
    line-height: 0.5em;
}

.group-header button i {
    left: -1px;
    position: relative;
    vertical-align: middle;
}

.tooltip-container {
    position: relative;
}

.pagination {
    color: var(--classroom-tertiary);
}

.pagination .page-link {
    color: var(--classroom-tertiary);
    background-color: var(--classroom-background);
    border-color: var(--classroom-cell);
    font-weight: bold;
}

.pagination .page-item.active .page-link {
    color: var(--classroom-white);
    background-color: var(--classroom-tertiary);
    border-color: var(--classroom-tertiary);
}

.pagination .page-item:last-child .page-link {
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.pagination .page-item:first-child .page-link {
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

/* GROUP ADMIN */
/* MANAGER */

.activity-add-form {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 1em;
    row-gap: 0.5em;
}


#usersTable td .btn,
#usersTable td a {
    font-size: 1rem;
    padding: 0.25rem;
}

#usersTable td .d-flex {
    gap: 0.4rem;
}


.user-admin-row>td {
    background-color: #a84d4d33;
}

.icon-table-size {
    font-size: 1.5em;
}

.premium-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
}

.premium-date {
    font-size: 0.8em;
    color: #555;
    margin-top: 0.2em;
    font-weight: bold;
}

.filters label {
    margin-right: 12px;
}

.sso-logo {
    max-width: 24px;
}

div.dt-container select.dt-input {
    width: 4.5em;
    padding-left: .5em;
    border-color : var(--classroom-primary) !important;
    border-radius : 256px;  
    margin: 0 .5em;
}

div.dt-container .dt-search input {
    border-color : var(--classroom-primary);
    border-radius : 256px;    
    margin-left: 1em;
}

div.dt-container .dt-search label {
    font-weight: bold;
}

div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-start label {
    font-weight: bold;
}

div.dt-container .dt-length, div.dt-container .dt-search, div.dt-container .dt-info, div.dt-container .dt-processing, div.dt-container .dt-paging {
    color: var(--classroom-text-2);
    font-weight: bold;
}

/* Style pour la ligne de détails */
table.dataTable > tbody > tr.child td ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

table.dataTable > tbody > tr.child:hover {
    background: transparent !important;
}

table.dataTable > tbody > tr.child ul.dtr-details {
  text-align: center;
  margin: 0 auto;
}


table.dataTable > tbody > tr.child ul.dtr-details > li {
  text-align: center;
  justify-content: center;
}


table.dataTable > tbody > tr.child {
  text-align: center;
}