:root {
    --bs-primary: var(--classroom-primary);
    --bs-primary-rgb: var(--classroom-primary-rgb);
    --bs-secondary: var(--classroom-secondary);
    --bs-secondary-rgb: var(--classroom-secondary-rgb);

}

/* Text */
.c-text-primary {
    color: var(--classroom-primary);
}

.c-text-secondary {
    color: var(--classroom-secondary);
}

.c-text-tertiary {
    color: var(--classroom-tertiary);
}

.c-text-gold {
    color: var(--classroom-gold);
}

.c-text-red {
    color: var(--classroom-red);
}

/* Links */

.c-link-primary {
    color: var(--classroom-primary);
}

.c-link-primary:hover {
    color: var(--classroom-primary-dark);
}

.c-link-secondary {
    color: var(--classroom-secondary);
}

.c-link-secondary:hover {
    color: var(--classroom-secondary-dark);
}

.c-link-tertiary {
    color: var(--classroom-tertiary);
}

.c-link-tertiary:hover {
    color: var(--classroom-tertiary-dark);
}

.c-link-red {
    color: var(--classroom-red);
}

.c-link-red:hover {
    color: var(--classroom-red-dark);
}

/* Buttons */

.btn {
    --bs-btn-focus-shadow-rgb: 126, 126, 126;
}

.btn-primary,
.c-btn-primary {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 256px;

    --bs-btn-color: var(--classroom-white);
    --bs-btn-bg: var(--classroom-primary);
    --bs-btn-border-color: var(--classroom-primary);

    --bs-btn-hover-color: var(--classroom-white);
    --bs-btn-hover-bg: var(--classroom-primary-dark);
    --bs-btn-hover-border-color: var(--classroom-primary-dark);

    --bs-btn-active-color: var(--classroom-white);
    --bs-btn-active-bg: var(--classroom-primary-dark);
    --bs-btn-active-border-color: var(--classroom-primary-dark);

    --bs-btn-disabled-color: var(--classroom-white);
    --bs-btn-disabled-bg: var(--classroom-primary);
    --bs-btn-disabled-border-color: var(--classroom-primary);

}

.btn-outline-primary,
.c-btn-outline-primary {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 256px;

    --bs-btn-color: var(--classroom-primary);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--classroom-primary);

    --bs-btn-border-width: 2px;

    --bs-btn-hover-color: var(--classroom-primary-dark);
    --bs-btn-hover-bg: rgba(var(--classroom-primary-rgb), 0.1);
    --bs-btn-hover-border-color: var(--classroom-primary-dark);

    --bs-btn-active-color: var(--classroom-primary);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--classroom-primary-dark);

    --bs-btn-disabled-color: var(--classroom-primary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--classroom-primary);
}

.c-btn-no-outline-primary {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 256px;
    
    --bs-btn-color: var(--classroom-primary);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;

    --bs-btn-hover-color: var(--classroom-primary-dark);
    --bs-btn-hover-bg: rgba(var(--classroom-primary-rgb), 0.1);
    --bs-btn-hover-border-color: transparent;

    --bs-btn-active-color: var(--classroom-primary);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;

    --bs-btn-disabled-color: var(--classroom-primary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: transparent;
}

.btn-secondary,
.c-btn-secondary {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 256px;
    
    --bs-btn-color: var(--classroom-white);
    --bs-btn-bg: var(--classroom-secondary);
    --bs-btn-border-color: var(--classroom-secondary);

    --bs-btn-hover-color: var(--classroom-white);
    --bs-btn-hover-bg: var(--classroom-secondary-dark);
    --bs-btn-hover-border-color: var(--classroom-secondary-dark);

    --bs-btn-active-color: var(--classroom-white);
    --bs-btn-active-bg: var(--classroom-secondary-dark);
    --bs-btn-active-border-color: var(--classroom-secondary-dark);
    
    --bs-btn-disabled-color: var(--classroom-white);
    --bs-btn-disabled-bg: var(--classroom-secondary);
    --bs-btn-disabled-border-color: var(--classroom-secondary);
}

.btn-outline-secondary,
.c-btn-outline-secondary {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 256px;
    
    --bs-btn-color: var(--classroom-secondary);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--classroom-secondary);

    --bs-btn-border-width: 2px;

    --bs-btn-hover-color: var(--classroom-secondary-dark);
    --bs-btn-hover-bg: rgba(var(--classroom-secondary-rgb), 0.1);
    --bs-btn-hover-border-color: var(--classroom-secondary-dark);

    --bs-btn-active-color: var(--classroom-secondary);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--classroom-secondary-dark);

    --bs-btn-disabled-color: var(--classroom-secondary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--classroom-secondary);
}

.btn-tertiary,
.c-btn-tertiary {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 256px;

    --bs-btn-color: var(--classroom-white);
    --bs-btn-bg: var(--classroom-tertiary);
    --bs-btn-border-color: var(--classroom-tertiary);

    --bs-btn-hover-color: var(--classroom-white);
    --bs-btn-hover-bg: var(--classroom-tertiary-dark);
    --bs-btn-hover-border-color: var(--classroom-tertiary-dark);

    --bs-btn-active-color: var(--classroom-white);
    --bs-btn-active-bg: var(--classroom-tertiary-dark);
    --bs-btn-active-border-color: var(--classroom-tertiary-dark);

    --bs-btn-disabled-color: var(--classroom-white);
    --bs-btn-disabled-bg: var(--classroom-tertiary);
    --bs-btn-disabled-border-color: var(--classroom-tertiary);
}

.btn-outline-tertiary,
.c-btn-outline-tertiary {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 256px;


    --bs-btn-color: var(--classroom-tertiary);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--classroom-tertiary);
    
    --bs-btn-border-width: 2px;

    --bs-btn-hover-color: var(--classroom-tertiary-dark);
    --bs-btn-hover-bg: rgba(var(--classroom-tertiary-rgb), 0.1);
    --bs-btn-hover-border-color: var(--classroom-tertiary-dark);

    --bs-btn-active-color: var(--classroom-tertiary);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--classroom-tertiary-dark);

    --bs-btn-disabled-color: var(--classroom-tertiary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--classroom-tertiary);
}

.btn-red,
.btn-danger,
.c-btn-red {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 256px;
    
    --bs-btn-color: var(--classroom-white);
    --bs-btn-bg: var(--classroom-red);
    --bs-btn-border-color: var(--classroom-red);

    --bs-btn-hover-color: var(--classroom-white);
    --bs-btn-hover-bg: var(--classroom-red-dark);
    --bs-btn-hover-border-color: var(--classroom-red-dark);

    --bs-btn-active-color: var(--classroom-white);
    --bs-btn-active-bg: var(--classroom-red-dark);
    --bs-btn-active-border-color: var(--classroom-red-dark);

    --bs-btn-disabled-color: var(--classroom-white);
    --bs-btn-disabled-bg: var(--classroom-red);
    --bs-btn-disabled-border-color: var(--classroom-red);
}

.btn-outline-red,
.btn-outline-danger,
.c-btn-outline-red {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 256px;

    --bs-btn-color: var(--classroom-red);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--classroom-red);

    --bs-btn-border-width: 2px;

    --bs-btn-hover-color: var(--classroom-red-dark);
    --bs-btn-hover-bg: rgba(var(--classroom-red-rgb), 0.1);
    --bs-btn-hover-border-color: var(--classroom-red-dark);

    --bs-btn-active-color: var(--classroom-red);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--classroom-red-dark);

    --bs-btn-disabled-color: var(--classroom-red);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--classroom-red);
}

.btn-grey,
.c-btn-grey {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 256px;

    --bs-btn-color: var(--classroom-white);
    --bs-btn-bg: var(--classroom-grey);
    --bs-btn-border-color: var(--classroom-grey);

    --bs-btn-hover-color: var(--classroom-white);
    --bs-btn-hover-bg: var(--classroom-grey);
    --bs-btn-hover-border-color: var(--classroom-grey);

    --bs-btn-active-color: var(--classroom-white);
    --bs-btn-active-bg: var(--classroom-grey);
    --bs-btn-active-border-color: var(--classroom-grey);

    --bs-btn-disabled-color: var(--classroom-white);
    --bs-btn-disabled-bg: var(--classroom-grey);
    --bs-btn-disabled-border-color: var(--classroom-grey);


    background: var(--classroom-grey);
    color: var(--classroom-white);
    border-radius: 256px;
}

.c-btn-outline-grey {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 256px;

    border: 2px solid var(--classroom-grey);
    color: var(--classroom-grey);
    background: transparent;
}

.c-btn-light {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 256px;


    background: var(--classroom-cell);
    color: var(--classroom-white);
    border-radius: 256px;
}

.c-btn-outline-light {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 256px;

    border: 2px solid var(--classroom-cell);
    color: var(--classroom-cell);
    background: transparent;
}

.c-btn-dashboard {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 256px;

    --bs-btn-color: var(--classroom-white);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--classroom-dashboard);

    --bs-btn-hover-color: var(--classroom-white);
    --bs-btn-hover-bg: rgba(var(--classroom-dashboard-rgb), 0.1);
    --bs-btn-hover-border-color: var(--classroom-dashboard-dark);

    --bs-btn-active-color: var(--classroom-white);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--classroom-dashboard-dark);

    --bs-btn-disabled-color: var(--classroom-white);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--classroom-dashboard);
}

.c-btn-icon-only {
    display: inline-flex;
    background-color: transparent;
    padding: 0 !important;
    height: fit-content;
    align-self: center;
}

.c-btn-icon-only svg {
    height: 100%;
}

.c-btn-icon-only {
    transition: all 0.2s ease-in-out;
    filter: brightness(1);
}

.c-btn-icon-only:hover {
    filter: brightness(0.9);
}

/* Forms */

.c-primary-form input[type="text"],
.c-primary-form textarea,
.c-primary-form input[type="datetime-local"],
.c-primary-form input[type="color"],
.c-primary-form input[type="email"],
.c-primary-form select,
.c-primary-form input[type="password"],
.c-primary-form input[type="number"],
.c-primary-form input[type="date"],
.c-secondary-form input[type="text"],
.c-secondary-form textarea,
.c-secondary-form input[type="datetime-local"],
.c-secondary-form input[type="color"],
.c-secondary-form input[type="email"],
.c-secondary-form select,
.c-secondary-form input[type="password"],
.c-secondary-form input[type="number"],
.c-secondary-form input[type="date"],
.c-tertiary-form input[type="text"],
.c-tertiary-form textarea,
.c-tertiary-form input[type="datetime-local"],
.c-tertiary-form input[type="color"],
.c-tertiary-form input[type="email"],
.c-tertiary-form select,
.c-tertiary-form input[type="password"],
.c-tertiary-form input[type="number"],
.c-tertiary-form input[type="date"] {
    border: 2px solid var(--classroom-text-1);
    background-color: var(--classroom-background);
    color: var(--classroom-text-1);
    border-radius: 0.5em;
    /*
    margin: 0.5em;
    Removed because of conflicts with Bootstrap
    */
    padding: 0.2em 0.5em;
}

.c-primary-form input[type="text"]:focus,
.c-primary-form textarea:focus,
.c-primary-form input[type="datetime-local"]:focus,
.c-primary-form input[type="color"]:focus,
.c-primary-form input[type="email"]:focus,
.c-primary-form select:focus,
.c-primary-form input[type="password"]:focus,
.c-primary-form input[type="number"]:focus,
.c-primary-form input[type="date"]:focus,
.c-secondary-form input[type="text"]:focus,
.c-secondary-form textarea:focus,
.c-secondary-form input[type="datetime-local"]:focus,
.c-secondary-form input[type="color"]:focus,
.c-secondary-form input[type="email"]:focus,
.c-secondary-form select:focus,
.c-secondary-form input[type="password"]:focus,
.c-secondary-form input[type="number"]:focus,
.c-secondary-form input[type="date"]:focus,
.c-tertiary-form input[type="text"]:focus,
.c-tertiary-form textarea:focus,
.c-tertiary-form input[type="datetime-local"]:focus,
.c-tertiary-form input[type="color"]:focus,
.c-tertiary-form input[type="email"]:focus,
.c-tertiary-form select:focus,
.c-tertiary-form input[type="password"]:focus,
.c-tertiary-form input[type="number"]:focus,
.c-tertiary-form input[type="date"]:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(126, 126, 126, 0.25);
    color: var(--classroom-text-1);
    background-color: var(--classroom-background);
}

.c-primary-form input[type="text"],
.c-primary-form textarea,
.c-primary-form input[type="datetime-local"],
.c-primary-form input[type="color"],
.c-primary-form input[type="email"],
.c-primary-form select,
.c-primary-form input[type="password"],
.c-primary-form input[type="number"],
.c-primary-form input[type="date"] {
    border-color: var(--classroom-primary) !important;
}

.c-secondary-form input[type="text"],
.c-secondary-form textarea,
.c-secondary-form input[type="datetime-local"],
.c-secondary-form input[type="color"],
.c-secondary-form input[type="email"],
.c-secondary-form select,
.c-secondary-form input[type="password"],
.c-secondary-form input[type="number"],
.c-secondary-form input[type="date"] {
    border-color: var(--classroom-secondary) !important;
}

.c-tertiary-form input[type="text"],
.c-tertiary-form textarea,
.c-tertiary-form input[type="datetime-local"],
.c-tertiary-form input[type="color"],
.c-tertiary-form input[type="email"],
.c-tertiary-form select,
.c-tertiary-form input[type="password"],
.c-tertiary-form input[type="number"],
.c-tertiary-form input[type="date"] {
    border-color: var(--classroom-tertiary) !important;
}

.c-primary-form select,
.c-secondary-form select,
.c-tertiary-form select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: var(--classroom-text-1);
    background-image: url('../media/theme/dropdown_icon.svg');
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 1em auto, 100%;
    padding-right: 2em;
}

.c-primary-form select:disabled,
.c-secondary-form select:disabled,
.c-tertiary-form select:disabled {
    background-color: var(--classroom-background);
    opacity: .65;
}

.c-primary-form .input-group-text,
.c-secondary-form .input-group-text,
.c-tertiary-form .input-group-text {
    border-radius: 0.5em;
    align-self: center;
    background-color: var(--classroom-background);
    color: var(--classroom-text-1);
}

.c-primary-form .input-group-text {
    border-color: var(--classroom-primary);
    background: var(--classroom-primary);
}

.c-secondary-form .input-group-text {
    border-color: var(--classroom-secondary);
    background: var(--classroom-secondary);
}

.input-group-selector {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.c-tertiary-form .input-group-text {
    border-color: var(--classroom-tertiary);
    background: var(--classroom-tertiary);
}

/* Accent colors where supported */

.c-primary-form {
    accent-color: var(--classroom-primary);
}

.c-secondary-form {
    accent-color: var(--classroom-secondary);
}

.c-tertiary-form {
    accent-color: var(--classroom-tertiary);
}

/* Search */

.c-primary-form input[type="search"],
.c-secondary-form input[type="search"],
.c-tertiary-form input[type="search"] {
    border: 0px;
    border-bottom: 2px solid var(--classroom-text-1);
    margin: 0.25em;
    flex-grow: 1;
    background: var(--classroom-background);
    color: var(--classroom-text-1);
}

.c-primary-form input[type="search"]:focus,
.c-secondary-form input[type="search"]:focus,
.c-tertiary-form input[type="search"]:focus {
    outline: 0;
    border-color: var(--classroom-text-2);
}

.c-primary-form input[type="search"] {
    border-color: var(--classroom-primary);
}

.c-primary-form input[type="search"]:focus {
    border-color: var(--classroom-primary-dark);
}

.c-secondary-form input[type="search"] {
    border-color: var(--classroom-secondary);
}

.c-secondary-form input[type="search"]:focus {
    border-color: var(--classroom-secondary-dark);
}

.c-tertiary-form input[type="search"] {
    border-color: var(--classroom-tertiary);
}

.c-tertiary-form input[type="search"]:focus {
    border-color: var(--classroom-tertiary-dark);
}

/* Table */

.c-table {
    --bs-table-border-color: var(--classroom-cell);
    --bs-table-bg: transparent;
    --bs-border-width: 2px;
}

.c-table thead th {
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
    font-size: smaller;
    position: relative;
}

.c-table thead th:not(:last-child):after {
    content: "";
    height: 50%;
    width: 2px;

    position: absolute;
    right: 0;
    top: 25%;

    background-color: var(--bs-table-border-color);
}

.c-table tbody {
    box-shadow: 0 0 0 1px var(--bs-table-border-color);
    border-radius: 15px;
    border-top: 5px solid transparent;
}

.c-table tbody th,
.c-table tbody td {
    border: 1px solid var(--bs-table-border-color);
    vertical-align: middle;
}

.c-table tbody th:first-child,
.c-table tbody td:first-child {
    border-left: 0px solid transparent;
}

.c-table tbody th:last-child,
.c-table tbody td:last-child {
    border-right: 0px solid transparent;
}

.c-table tbody tr:last-child th,
.c-table tbody tr:last-child td {
    border-bottom: 0px solid transparent;
}

/* Line separator */

hr {
    border-color: var(--classroom-cell);
}

/* Tooltip theming */

.tooltip-inner {
    font-family: var(--main-font);
    font-size: 0.75rem;
}

/* Wysibb Theming  */
.wysibb {
    border: 2px solid var(--classroom-primary) !important;
    border-radius: 0.5em;
}

.wysibb .wysibb-toolbar {
    border-bottom: 2px solid var(--classroom-primary) !important;
    position: relative;
    padding: 0 !important;
}

.wysibb .wbb-answer {
    display: none !important;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container.modeSwitch {
    display: grid;
    place-items: center;
    height: 100%;
    margin-inline-start: auto;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .mswitch.wysibb-toolbar-btn,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .mswitch.wysibb-toolbar-btn:hover,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .mswitch.wysibb-toolbar-btn.on,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .mswitch.wysibb-toolbar-btn.on:hover {
    padding: 0.25em 0.5em !important;
    border-radius: 2em;
    filter: brightness(1);
    height: fit-content;
    transition: all 0.2s;
    box-shadow: unset;
    border: 1px solid var(--classroom-primary);
    max-width: 100%;
    margin-right: 0.15em;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .mswitch.wysibb-toolbar-btn,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .mswitch.wysibb-toolbar-btn:hover {
    color: var(--classroom-white);
    border-color: var(--classroom-primary);
    background-color: var(--classroom-primary);
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .mswitch.wysibb-toolbar-btn.on,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .mswitch.wysibb-toolbar-btn.on:hover {
    color: var(--classroom-primary) !important;
    border-color: var(--classroom-primary) !important;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .mswitch.wysibb-toolbar-btn:hover,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .mswitch.wysibb-toolbar-btn.on:hover {
    filter: brightness(0.9);
    border-radius: 2em;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .mswitch.wysibb-toolbar-btn .modesw {
    height: unset;
    min-width: unset;
    margin: 0px;
    line-height: unset;
    text-transform: unset;
}

/* wysibb */

#wbbmodal {
    background-color: rgb(0 0 0 / 10%) !important;
}

#wbbmodal .wbbm {
    font-family: var(--main-font);
    background: var(--classroom-background) !important;
    color: var(--classroom-text-0);
    border-radius: 20px;
    box-shadow: none !important;
    border-color: #8e8e8ebf;
    padding: 20px;
}

#wbbmodal .wbbm-title {
    font-weight: bold;
    color: var(--classroom-primary) !important;
    border-bottom: none !important;
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
}

#wbbmodal .wbbm .wbbm-tablist ul li:hover {
    background-color: var(--classroom-background-1) !important;
    color: var(--classroom-text-0) !important;
}

#wbbmodal .wbbm .wbbm-tablist ul li.on, #wbbmodal .wbbm .wbbm-tablist ul li.on:hover {
    background: var(--classroom-primary) !important;
    color: var(--classroom-white) !important;
}

#wbbmodal .wbbm-cont {
    color: var(--classroom-text-0) !important;
}

#wbbmodal .wbbm-inp-row label {
    color: var(--classroom-text-0) !important;
}

#wbbmodal .wbbm-bottom {
    border: unset !important;
    background: unset !important;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#wbbmodal .wbb-button {
    background: var(--classroom-primary) !important;
    border-color: var(--classroom-primary) !important;
    color: var(--classroom-white) !important;
    border-radius: 100vh !important;
}

#wbbmodal .wbb-cancel-button {
    background: var(--classroom-cell) !important;
    border-color: var(--classroom-cell) !important;
    color: var(--classroom-text-0) !important;
    border-radius: 100vh !important;
}

#wbbmodal .wbbm-title .wbbclose {
    background: var(--classroom-primary) !important;
    color: var(--classroom-white) !important;

    font-size: 1.5rem !important;
    font-weight: bold;
    line-height: 1; 

    position: relative !important;
    top: unset !important;
    right: unset !important;

    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;

    display: grid !important;
    justify-items: center;
    align-items: center;
}

#wbbmodal .wbbm-title .wbbclose:hover {
    background: var(--classroom-primary-dark) !important;
}

/* Vertical align center utility */

.vertical-align-center {
    display: flex;
    align-items: center;
}

/* Masked class to hide text */
@font-face {
    font-family: "password";
    font-style: normal;
    font-weight: 400;
    src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
}

.masked {
    font-family: "password";
    filter: blur(4px);
    user-select: none;
}

/* CHECKBOXES */

.form-check-input {
    background-color: var(--classroom-background);
    border-color: var(--classroom-text-1);
}

.form-check-input:focus {
    border-color: var(--classroom-cell);
    box-shadow: 0px 0px 10px rgb(126 126 126 / 25%);
}

.form-check-input:checked {
    background-color: var(--classroom-grey);
    border-color: var(--classroom-grey);
}

.c-primary-form .form-check-input:checked {
    background-color: var(--classroom-primary);
    border-color: var(--classroom-primary);
}

.c-secondary-form .form-check-input:checked {
    background-color: var(--classroom-secondary);
    border-color: var(--classroom-secondary);
}

.c-tertiary-form .form-check-input:checked {
    background-color: var(--classroom-tertiary);
    border-color: var(--classroom-tertiary);
}

/* Base for label styling */
.c-checkbox {
    position: relative;
}

.c-checkbox [type="checkbox"]:not(:checked),
.c-checkbox [type="checkbox"]:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
}

.c-checkbox [type="checkbox"]:not(:checked)+label,
.c-checkbox [type="checkbox"]:checked+label {
    position: relative;
    padding-left: 1.5em;
    cursor: pointer;
    user-select: none;
}

/* checkbox aspect */
.c-checkbox [type="checkbox"]:not(:checked)+label:before,
.c-checkbox [type="checkbox"]:checked+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% - 0.6em);
    width: 1.2em;
    height: 1.2em;
    border: 2px solid var(--classroom-text-2);
    border-radius: .2em;
    transition: all .1s;
}
.c-checkbox.c-checkbox-grey  [type="checkbox"]:not(:checked)+label:before,
.c-checkbox.c-checkbox-grey  [type="checkbox"]:checked+label:before {
    border: 2px solid var(--classroom-grey);
}

/* checked mark aspect */
.c-checkbox [type="checkbox"]:not(:checked)+label:after,
.c-checkbox [type="checkbox"]:checked+label:after {
    content: "✓";
    position: absolute;
    top: 35%;
    left: 2px;
    font-size: 1.65em;
    color: var(--classroom-primary);
    font-weight: 900;
    line-height: 0;
    font-style: initial;
    transition: all 0.2s;
}

.c-secondary-form .c-checkbox [type="checkbox"]:not(:checked)+label:after,
.c-secondary-form .c-checkbox [type="checkbox"]:checked+label:after {
    color: var(--classroom-secondary);
}

.c-tertiary-form .c-checkbox [type="checkbox"]:not(:checked)+label:after,
.c-tertiary-form .c-checkbox [type="checkbox"]:checked+label:after {
    color: var(--classroom-tertiary);
}

.c-checkbox.c-checkbox-grey [type="checkbox"]:not(:checked)+label:after,
.c-checkbox.c-checkbox-grey [type="checkbox"]:checked+label:after {
    color: var(--classroom-text-0);
}

/* checked mark aspect changes */
.c-checkbox [type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

.c-checkbox [type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

/* Disabled checkbox */
.c-checkbox [type="checkbox"]:disabled:not(:checked)+label:before,
.c-checkbox [type="checkbox"]:disabled:checked+label:before {
    opacity: 0.5;
}

.c-checkbox [type="checkbox"]:disabled:checked+label:after {
    filter: grayscale(1);
}

.c-checkbox [type="checkbox"]:disabled+label {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Accessibility */
.c-checkbox [type="checkbox"]:checked:focus+label:before,
.c-checkbox [type="checkbox"]:not(:checked):focus+label:before {
    box-shadow: 0 0 0 .2rem rgba(126, 126, 126, 0.25);
}

/* if in append group */
.input-group-append .c-checkbox [type="checkbox"]:not(:checked)+label:before,
.input-group-append .c-checkbox [type="checkbox"]:checked+label:before {
    border: 2px solid var(--classroom-white);
}

.input-group-append .c-checkbox.c-checkbox-grey [type="checkbox"]:not(:checked)+label:after,
.input-group-append .c-checkbox.c-checkbox-grey [type="checkbox"]:checked+label:after {
    color: var(--classroom-white);
}

.input-group-append .c-checkbox [type="checkbox"]:not(:checked)+label,
.input-group-append .c-checkbox [type="checkbox"]:checked+label {
    font-weight: 600;
    color: var(--classroom-white);
}

/* RADIO BUTTONS */

.c-radio {
    position: relative;
    display: grid;
    grid-template-columns: 2em auto;
    gap: 0.5em;
    align-items: center;
}

.c-radio + .c-radio {
    margin-top: 1em;
}

.c-radio input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 2em;
    height: 2em;
    border: 1px solid var(--classroom-text-0);
    border-radius: 50%;

    cursor: pointer;
    
    display: grid;
    place-content: center;
    transition: 120ms box-shadow ease-in-out;
}
.c-radio input[type="radio"]:focus { 
    box-shadow: 0 0 0 0.2rem rgb(126 126 126 / 50%);
}


.c-radio input[type="radio"]::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--classroom-grey);
}
  
.c-radio input[type="radio"]:checked::before {
    transform: scale(1);
}

.c-primary-form .c-radio input[type="radio"]::before {
    background-color: var(--classroom-primary);
}


.c-secondary-form .c-radio input[type="radio"]::before {
    background-color: var(--classroom-secondary);
}

.c-tertiary-form .c-radio input[type="radio"]::before {
    background-color: var(--classroom-tertiary);
}

/* SWITCHER */
input:checked+.slider-mini {
    background-color: var(--classroom-primary) !important;
}

.switcher__toggle {
    background-color: var(--classroom-primary) !important;
}

/* LOADER/NANOBAR */

/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: var(--classroom-white);

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 5px;
    border-radius: 10px;
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 10px;
    right: 10px;
}

#nprogress .spinner-icon {
    width: 15px;
    height: 15px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: var(--classroom-white);
    border-left-color: var(--classroom-white);
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    #nprogress .bar {
        background: var(--classroom-dashboard);
    }

    #nprogress .spinner-icon {
        display: none;
    }
}

/* Scrollbar utility */

.stylized-scrollbar{
    scrollbar-color: var(--classroom-cell) var(--classroom-background);
    scrollbar-width: thin;
}

.stylized-scrollbar::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

.stylized-scrollbar::-webkit-scrollbar-track {
    background: var(--classroom-cell);
}

.stylized-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--classroom-background);
    border-radius: 6px;
    border: 3px solid transparent;
}