/* Text */
.c-text-primary {
    color: var(--classroom-primary)
}

.c-text-secondary {
    color: var(--classroom-secondary)
}

.c-text-tertiary {
    color: var(--classroom-tertiary)
}

.c-text-gold {
    color: var(--classroom-gold)
}

.c-text-red {
    color: var(--classroom-red)
}


/* Links */

.c-link-primary {
    color: var(--classroom-primary)
}

.c-link-primary:hover {
    color: var(--classroom-primary-dark)
}

.c-link-secondary {
    color: var(--classroom-secondary)
}

.c-link-secondary:hover {
    color: var(--classroom-secondary-dark)
}

.c-link-tertiary {
    color: var(--classroom-tertiary)
}

.c-link-tertiary:hover {
    color: var(--classroom-tertiary-dark)
}

.c-link-red {
    color: var(--classroom-red)
}

.c-link-red:hover {
    color: var(--classroom-red-dark)
}

/* Buttons */
.c-btn-primary {
    background: var(--classroom-primary);
    color: white;
    border-radius: 256px;
}

.c-btn-outline-primary {
    border: 2px solid var(--classroom-primary);
    color: var(--classroom-primary);
    background: transparent;
}

.c-btn-secondary {
    background: var(--classroom-secondary);
    color: white;
    border-radius: 256px;
}

.c-btn-outline-secondary {
    border: 2px solid var(--classroom-secondary);
    color: var(--classroom-secondary);
    background: transparent;
}

.c-btn-tertiary {
    background: var(--classroom-tertiary);
    color: white;
    border-radius: 256px;
}

.c-btn-outline-tertiary {
    border: 2px solid var(--classroom-tertiary);
    color: var(--classroom-tertiary);
    background: transparent;
}

.c-btn-red {
    background: var(--classroom-red);
    color: var(--classroom-white);
    border-radius: 256px;
}

.c-btn-outline-red {
    border: 2px solid var(--classroom-tertiary);
    color: var(--classroom-tertiary);
    background: transparent;
}

.c-btn-grey {
    background: var(--classroom-text-2);
    color: var(--classroom-white);
    border-radius: 256px;
}

.c-btn-outline-grey {
    border: 2px solid var(--classroom-text-2);
    color: var(--classroom-text-2);
    background: transparent;
}

.c-btn-light {
    background: var(--classroom-cell);
    color: var(--classroom-white);
    border-radius: 256px;
}

.c-btn-outline-light {
    border: 2px solid var(--classroom-cell);
    color: var(--classroom-cell);
    background: transparent;
}

.c-btn-outline-primary,
.c-btn-primary,
.c-btn-outline-secondary,
.c-btn-secondary,
.c-btn-outline-tertiary,
.c-btn-tertiary,
.c-btn-outline-red,
.c-btn-red,
.c-btn-outline-grey,
.c-btn-grey,
.c-btn-outline-light,
.c-btn-light {
    font-weight: 700;
    border-radius: 256px;
}

.c-btn-outline-primary:focus,
.c-btn-primary:focus,
.c-btn-outline-secondary:focus,
.c-btn-secondary:focus,
.c-btn-outline-tertiary:focus,
.c-btn-tertiary:focus,
.c-btn-outline-red:focus,
.c-btn-red:focus,
.c-btn-outline-grey:focus,
.c-btn-grey:focus,
.c-btn-outline-light:focus,
.c-btn-light:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(126, 126, 126, 0.25);
}

.c-btn-outline-primary:hover,
.c-btn-primary:hover,
.c-btn-outline-secondary:hover,
.c-btn-secondary:hover,
.c-btn-outline-tertiary:hover,
.c-btn-tertiary:hover,
.c-btn-outline-red:hover,
.c-btn-red:hover,
.c-btn-outline-grey:hover,
.c-btn-grey:hover,
.c-btn-outline-light:hover,
.c-btn-light:hover {
    filter: brightness(0.9);
}

/* Forms */

.c-primary-form input[type="text"],
.c-primary-form textarea,
.c-primary-form input[type="datetime-local"],
.c-primary-form input[type="color"],
.c-primary-form input[type="email"],
.c-primary-form select,
.c-primary-form input[type="password"],
.c-primary-form input[type="number"],
.c-primary-form input[type="date"],
.c-secondary-form input[type="text"],
.c-secondary-form textarea,
.c-secondary-form input[type="datetime-local"],
.c-secondary-form input[type="color"],
.c-secondary-form input[type="email"],
.c-secondary-form select,
.c-secondary-form input[type="password"],
.c-secondary-form input[type="number"],
.c-secondary-form input[type="date"],
.c-tertiary-form input[type="text"],
.c-tertiary-form textarea,
.c-tertiary-form input[type="datetime-local"],
.c-tertiary-form input[type="color"],
.c-tertiary-form input[type="email"],
.c-tertiary-form select,
.c-tertiary-form input[type="password"],
.c-tertiary-form input[type="number"],
.c-tertiary-form input[type="date"] {
    border: 2px solid var(--classroom-text-1);
    border-radius: 0.5em;
    /*
    margin: 0.5em;
    Removed because of conflicts with Bootstrap
    */
    padding: 0.2em 0.5em;
}

.c-primary-form input[type="text"]:focus,
.c-primary-form textarea:focus,
.c-primary-form input[type="datetime-local"]:focus,
.c-primary-form input[type="color"]:focus,
.c-primary-form input[type="email"]:focus,
.c-primary-form select:focus,
.c-primary-form input[type="password"]:focus,
.c-primary-form input[type="number"]:focus,
.c-primary-form input[type="date"]:focus,
.c-secondary-form input[type="text"]:focus,
.c-secondary-form textarea:focus,
.c-secondary-form input[type="datetime-local"]:focus,
.c-secondary-form input[type="color"]:focus,
.c-secondary-form input[type="email"]:focus,
.c-secondary-form select:focus,
.c-secondary-form input[type="password"]:focus,
.c-secondary-form input[type="number"]:focus,
.c-secondary-form input[type="date"]:focus,
.c-tertiary-form input[type="text"]:focus,
.c-tertiary-form textarea:focus,
.c-tertiary-form input[type="datetime-local"]:focus,
.c-tertiary-form input[type="color"]:focus,
.c-tertiary-form input[type="email"]:focus,
.c-tertiary-form select:focus,
.c-tertiary-form input[type="password"]:focus,
.c-tertiary-form input[type="number"]:focus,
.c-tertiary-form input[type="date"]:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(126, 126, 126, 0.25);
}


.c-primary-form input[type="text"],
.c-primary-form textarea,
.c-primary-form input[type="datetime-local"],
.c-primary-form input[type="color"],
.c-primary-form input[type="email"],
.c-primary-form select,
.c-primary-form input[type="password"],
.c-primary-form input[type="number"],
.c-primary-form input[type="date"] {
    border-color: var(--classroom-primary) !important;
}

.c-secondary-form input[type="text"],
.c-secondary-form textarea,
.c-secondary-form input[type="datetime-local"],
.c-secondary-form input[type="color"],
.c-secondary-form input[type="email"],
.c-secondary-form select,
.c-secondary-form input[type="password"],
.c-secondary-form input[type="number"],
.c-secondary-form input[type="date"] {
    border-color: var(--classroom-secondary) !important;
}

.c-tertiary-form input[type="text"],
.c-tertiary-form textarea,
.c-tertiary-form input[type="datetime-local"],
.c-tertiary-form input[type="color"],
.c-tertiary-form input[type="email"],
.c-tertiary-form select,
.c-tertiary-form input[type="password"],
.c-tertiary-form input[type="number"],
.c-tertiary-form input[type="date"] {
    border-color: var(--classroom-tertiary) !important;
}

.c-primary-form select,
.c-secondary-form select,
.c-tertiary-form select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../media/theme/dropdown_icon.svg');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 1em auto, 100%;
    text-transform: uppercase;
    padding-right: 2em;
}

.c-primary-form .input-group-text,
.c-secondary-form .input-group-text,
.c-tertiary-form .input-group-text {
    border-radius: 0.5em;
    align-self: center;
    color: var(--classroom-white);
}

.c-primary-form .input-group-text {
    border-color: var(--classroom-primary);
    background: var(--classroom-primary);
}
.c-secondary-form .input-group-text {
    border-color: var(--classroom-secondary);
    background: var(--classroom-secondary);
}
.c-tertiary-form .input-group-text {
    border-color: var(--classroom-tertiary);
    background: var(--classroom-tertiary);
}

/* Search */

.c-primary-form input[type="search"],
.c-secondary-form input[type="search"],
.c-tertiary-form input[type="search"] {
    border: 0px;
    border-bottom: 2px solid var(--classroom-text-1);
    margin: 0.25em;
    flex-grow: 1;
    background: var(--classroom-background);
    color: var(--classroom-text-1);
}

.c-primary-form input[type="search"]:focus,
.c-secondary-form input[type="search"]:focus,
.c-tertiary-form input[type="search"]:focus {
    outline: 0;
    border-color: var(--classroom-text-2);
}

.c-primary-form input[type="search"] {
    border-color: var(--classroom-primary);
}

.c-primary-form input[type="search"]:focus {
    border-color: var(--classroom-primary-dark);
}

.c-secondary-form input[type="search"] {
    border-color: var(--classroom-secondary);
}

.c-secondary-form input[type="search"]:focus {
    border-color: var(--classroom-secondary-dark);
}

.c-tertiary-form input[type="search"] {
    border-color: var(--classroom-tertiary);
}

.c-tertiary-form input[type="search"]:focus {
    border-color: var(--classroom-tertiary-dark);
}

/* Table */

.c-table thead th {
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
    font-size: smaller;
    position: relative;
}

.c-table thead th:not(:last-child):after {
    content: '';
    height: 50%;
    width: 2px;

    position: absolute;
    right: 0;
    top: 25%;

    background-color: var(--classroom-cell);
}

.c-table tbody {
    box-shadow: 0 0 0 1.5px var(--classroom-cell);
    border-radius: 15px;
    border-top: 5px solid transparent;
}

.c-table tbody th,
.c-table tbody td {
    border: 1px solid var(--classroom-cell);
    vertical-align: middle;
}

.c-table tbody th:first-child,
.c-table tbody td:first-child {
    border-left: 0px solid transparent;
}

.c-table tbody th:last-child,
.c-table tbody td:last-child {
    border-right: 0px solid transparent;
}

.c-table tbody tr:last-child th,
.c-table tbody tr:last-child td {
    border-bottom: 0px solid transparent;
}

/* Line separator */

hr {
    border-color: var(--classroom-cell);
}

/* Tooltip theming */

.tooltip-inner {
    font-family: var(--main-font);
    font-size: 0.75rem;
}