/* Dashboard, search and buttons */

#classroom-dashboard-background, #classroom-dashboard-top-bar {
    background: linear-gradient(rgba(var(--classroom-dashboard-rgb),0.5),rgba(var(--classroom-dashboard-rgb),0.5)), linear-gradient(var(--classroom-background),var(--classroom-background));
}

#classroom-dashboard-content {
    background-color: var(--classroom-background);
    border: 2px solid var(--classroom-text-0);
}

#filter-activity {
    background-color: var(--classroom-background);
}

.fa-search {
    color: var(--classroom-text-0);
}

.form-control::placeholder {
    color: var(--classroom-text-0);
}

button.btn.c-btn-outline-primary {
    border: 2px solid var(--classroom-text-0);
    color: var(--classroom-text-0);
    background-color: var(--classroom-background);
}

button.btn.c-btn-outline-primary:hover {
    color: var(--classroom-text-0);
    background-color: var(--classroom-primary);
}

button.btn.c-btn-outline-secondary {
    border: 2px solid var(--classroom-text-0);
    color: var(--classroom-text-0);
    background-color: var(--classroom-background);
}

button.btn.c-btn-outline-secondary:hover {
    color: var(--classroom-text-0);
    background-color: var(--classroom-secondary);
}

button.btn.c-btn-tertiary {
    border: 2px solid var(--classroom-text-0);
    color: var(--classroom-text-0);
    background-color: var(--classroom-background);
}

button.btn.c-btn-tertiary:hover {
    color: var(--classroom-text-0);
    background-color: var(--classroom-tertiary);
}

button.btn.c-btn-red {
    border: 2px solid var(--classroom-text-0);
    color: var(--classroom-text-0);
}

button.btn.c-btn-red:hover {
    color: var(--classroom-text-0);
    background-color: var(--classroom-red-dark);
}

button.btn.btn-danger {
    border: 2px solid var(--classroom-text-0);
    color: var(--classroom-text-0);
}

button.btn.btn-danger:hover {
    color: var(--classroom-text-0);
    background-color: var(--classroom-red-dark);
}

button.btn.c-btn-no-outline-primary {
    color: var(--classroom-text-0);
}

button.btn.c-btn-no-outline-primary:hover {
    background-color: var(--classroom-primary);
}

h3 {
    color: var(--classroom-text-0) !important;
}

h5 {
    color: var(--classroom-text-0) !important;
}

.form-activity-primary, .stats-primary,
.form-activity-secondary, .stats-secondary {
    border-color: var(--classroom-text-0);
    color: var(--classroom-text-0);
}



/* SIDEBAR */
.classroom-navbar-button {
    border: 2px solid var(--classroom-text-0);
    border-right: none;
}

.sidebar-classroom .active::after {
    filter: drop-shadow(0 2px 0 var(--classroom-text-0));
}

.sidebar-classroom .active::before {
    filter: drop-shadow(0 -2px 0 var(--classroom-text-0));
}

.sidebar-classroom .classroom-navbar-button img {
    border: 3px solid var(--classroom-text-0);
}

.sidebar-classroom .classroom-navbar-button img.user-picture {
    border: transparent !important;
}

.classroom-navbar-button > span {
    color: var(--classroom-text-0);
}

#classroom-dashboard-sidebar-teacher .active > span {
    color: var(--classroom-dashboard-dark) !important;
}

#dropdownMenuButton {
    color: var(--classroom-text-0);
    border: 2px solid transparent;
}

#dropdownMenuButton:hover {
    color: var(--classroom-text-0);
    background-color: var(--classroom-background-1);
}

#dropdownMenuButton:focus {
    color: var(--classroom-text-0);
    border-color: var(--classroom-text-0);
    background-color: var(--classroom-background-1);
}

#dropdownMenuButton:active {
    color: var(--classroom-text-0);
    border-color: var(--classroom-text-0);
    background-color: var(--classroom-background-1);
}

#classroom-dashboard-profil-panel-teacher span.text-span-initial.stats-description {
    font-weight: bold !important;
}

.dropdown-menu.dropdown-menu-right.a11y-dropdown.show {
    border: 2px solid var(--classroom-text-0);
}

.vitta-modal.ui-draggable.ui-draggable-handle {
    border: 2px solid var(--classroom-text-0);
}

#settings-teacher-modal .vitta-modal-title span {
    color: var(--classroom-text-0);
}

.vitta-modal-exit-btn.vitta-button.btn {
    color: var(--classroom-text-0) !important;
    background-color: var(--classroom-background) !important;
    border: 2px solid var(--classroom-text-0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.vitta-modal-exit-btn.vitta-button.btn:hover {
    background-color: var(--classroom-primary) !important;
}

button.btn.c-btn-secondary {
    border: 2px solid var(--classroom-text-0);
    color: var(--classroom-text-0);
    background-color: var(--classroom-background);
}

button.btn.c-btn-secondary:hover {
    background-color: var(--classroom-secondary);
}

button.btn.c-btn-primary,
a.btn.c-btn-primary {
    border: 2px solid var(--classroom-text-0);
    color: var(--classroom-text-0);
    background-color: var(--classroom-background);
}

button.btn.btn-primary {
    border: 2px solid var(--classroom-text-0);
}

button.btn.btn-primary:hover {
    background-color: var(--classroom-primary) !important;
}

button.btn.c-btn-primary:hover,
a.btn.c-btn-primary:hover {
    background-color: var(--classroom-primary);
}

.theme-super-admin.btn.c-btn-outline-primary.c-btn-dashboard {
    border: 2px solid var(--classroom-text-0) !important;
    color: var(--classroom-text-0) !important;
    background-color: var(--classroom-dashboard) !important;
}

.theme-super-admin.btn.c-btn-outline-primary.c-btn-dashboard:hover {
    background-color: var(--classroom-dashboard-dark) !important;
}



/* Profile */

#breadcrumb button.btn.c-btn-outline-primary {
    border: 2px solid var(--classroom-text-0);
    color: var(--classroom-text-0);
    background-color: var(--classroom-background);
}

#classroom-dashboard-account-panel-teacher input {
    border: 2px solid var(--classroom-text-0) !important;
}

a#validate-profile-update {
    border: 2px solid var(--classroom-text-0) !important;
    color: var(--classroom-text-0) !important;
    background-color: var(--classroom-background) !important;
}

a#validate-profile-update:hover {
    background-color: var(--classroom-primary) !important;
}



/* Help */

.faq-panel {
    border-color: var(--classroom-text-0);
}

#about-contact-form .form-control {
    border-color: var(--classroom-text-0) !important;
}

#about-contact-info input.btn.c-btn-primary {
    border: 2px solid var(--classroom-text-0) !important;
    color: var(--classroom-text-0) !important;
    background-color: var(--classroom-background) !important;
}

#about-contact-info input.btn.c-btn-primary:hover {
    background-color: var(--classroom-primary) !important;
}

.faq-panel .faq-box-dropdown {
    border: 2px solid var(--classroom-text-0);
    color: var(--classroom-text-0);
}

.kit-faq-box {
    border: 2px solid var(--classroom-text-0) !important;
}

.faq-panel h2 {
    color: var(--classroom-text-0);
}





/* MY CLASSES */

#classroom-dashboard-form-classe-panel input.form-control {
    border: 2px solid var(--classroom-text-0) !important;
}

.table-students {
    border: 2px solid var(--classroom-text-0) !important;
}

.vitta-modal-title span {
    color: var(--classroom-text-0);
}

.c-primary-form input[type="text"] {
    border-color: var(--classroom-text-0) !important;
}

.class-card {
    border-color: var(--classroom-text-0);
    color: var(--classroom-text-0);
}

.dropdown-menu.show {
    border-color: var(--classroom-text-0);
}

.c-primary-form input[type="search"],
.c-secondary-form input[type="text"] {
    border-color: var(--classroom-text-0) !important;
}

button.btn.c-btn-light {
    border: 2px solid var(--classroom-text-0);
    color: var(--classroom-text-0);
}

button.btn.c-btn-light:hover {
    background-color: var(--classroom-background-1);
}

#notif-div .vitta-notif.status-error {
    border: 2px solid var(--classroom-text-0) !important;
}

.modal-separator > span {
    background-color: var(--classroom-background) !important;
}

/* Classes */

#body-table-teach div.user-cell-container, .bilan-cell {
    border: 2px solid var(--classroom-text-0);
}

.dropdown i {
    color: var(--classroom-text-0);
}

#classroom-info {
    border: 2px solid var(--classroom-text-0);
}

#classroom-info .classroom-link {
    border: 2px solid var(--classroom-text-0);
    color: var(--classroom-secondary);
}

#legend-container.is-monochrome .legend:first-of-type .bilan-legend {
    outline: 1px solid var(--classroom-text-0) !important;
}

.is-monochrome .bilan-4 .monochrome-grade-div, 
.is-monochrome .status-4 .monochrome-grade-div, 
.is-monochrome .bilan-3 .monochrome-grade-div, 
.is-monochrome .status-3 .monochrome-grade-div, 
.is-monochrome .bilan-2 .monochrome-grade-div, 
.is-monochrome .status-2 .monochrome-grade-div, 
.is-monochrome .bilan-1 .monochrome-grade-div, 
.is-monochrome .status-1 .monochrome-grade-div, 
.is-monochrome .bilan-0 .monochrome-grade-div, 
.is-monochrome .status-0 .monochrome-grade-div {
    background: var(--classroom-background);
}

/* Activities */

.theme-dark svg {
    filter: brightness(0) invert(1);
}

.theme-light svg {
    filter: brightness(0) invert(0);
}

select.c-primary-form {
    border-color: var(--classroom-text-0) !important;
}