@font-face {
    src: url("../content/fonts/Montserrat-Bold.ttf");
    font-family: "Montserrat", sans-serif;
}

@font-face {
    src: url("../content/fonts/VarelaRound-Regular.ttf");
    font-family: "Varela Round", sans-serif;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('/public/content/fonts/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('/public/content/fonts/OpenDyslexic-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('/public/content/fonts/OpenDyslexic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('/public/content/fonts/OpenDyslexic-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'OpenDyslexicMono';
    src: url('/public/content/fonts/OpenDyslexicMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Luciole';
    src: url('/public/content/fonts/Luciole-Regular.woff2') format('woff2'), url('/public/content/fonts/Luciole-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Luciole';
    src: url('/public/content/fonts/Luciole-Bold.woff2') format('woff2'), url('/public/content/fonts/Luciole-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Luciole';
    src: url('/public/content/fonts/Luciole-BoldItalic.woff2') format('woff2'), url('/public/content/fonts/Luciole-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Luciole';
    src: url('/public/content/fonts/Luciole-Italic.woff2') format('woff2'), url('/public/content/fonts/Luciole-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* MAIN PALETTE (light) */

:root {
    --main-font: "Montserrat", sans-serif;
    --monospace-font: "Ubuntu Mono", monospace;
}

.font-dys {
    --main-font: "OpenDyslexic", sans-serif;
    --monospace-font: "OpenDyslexicMono", monospace;
    line-height: 1.6;
}

.font-luciole {
    --main-font: "Luciole", sans-serif;
    --monospace-font: "Consolas", "Courier", monospace;
}

.font-arial {
    --main-font: "Arial", sans-serif;
    --monospace-font: "Consolas", "Courier", monospace;
}

.font-verdana {
    --main-font: "Verdana", sans-serif;
    --monospace-font: "Consolas", "Courier", monospace;
}


