:root {
    --classroom-logo: url('../media/no-logo.png');

    --classroom-primary: #9e9e9e;
    --classroom-primary-dark: #707070;
    --classroom-secondary:#e74c3c;
    --classroom-secondary-dark:#c0392b;
    --classroom-tertiary:#2e6dcc;

    --classroom-dashboard: var(--classroom-primary);
    --classroom-dashboard-dark: var(--classroom-primary-dark);

    --correction-0: #ffc152 ;
    --correction-1: #ffda97;
    --correction-2: #7cc6a5;
    --correction-3: #22b573;
    --correction-success: var(--classroom-green);
    --correction-fail: var(--classroom-red);


    --classroom-background: #fff;
    --classroom-text-0: black;
    --classroom-text-1: #333;
    --classroom-text-2: #666;
    
    --classroom-shadow-1: rgba(0, 0, 0, 0.2);
    --classroom-cell: #E6E6E6;
    
    --classroom-white: #fff;
    --classroom-black: #000;
    --classroom-green: #22b573;
    --classroom-red: #dc3545;
    --classroom-blue: #3fa9f5;
    
}

.theme-dark {
    --classroom-background: #181818;
    --classroom-text-0: rgb(255, 255, 255);
    --classroom-text-1: rgb(205, 205, 205);
    --classroom-text-2: rgb(153, 153, 153);
    --classroom-shadow-1: rgba(0, 0, 0, 1);
    --classroom-cell: #4e4e4e;

}

/* Used when the insterface is used by a teacher */
.theme-alt {
    --classroom-dashboard: var(--classroom-secondary);
    --classroom-dashboard-dark: var(--classroom-secondary-dark);
}

/* Change the hue-rotate to make the icon color match your primary color */
.sidebar-classroom div img:not(.user-picture) {
    filter: grayscale(1);
}

/* Change the hue-rotate to make the icon color match your secondary color */
.theme-alt .sidebar-classroom div img:not(.user-picture) {
    /*filter: hue-rotate(425deg);*/
    filter: hue-rotate(215deg);
}

/* Change the scale of your logo if it is too big */
#classroom-sidebar-logo {
    background-size: 90% !important;
}

