:root {
    --classroom-logo: url('../media/no-logo.png');

    --classroom-primary: #59C07C;
    --classroom-primary-dark: #5AA26D;
    --classroom-secondary: #F58246;
    --classroom-secondary-dark: #EC684C;
    --classroom-tertiary: #62CAE0;
    --classroom-tertiary-dark: #50afc2;

    --correction-0: #ffc152;
    --correction-1: #ffda97;
    --correction-2: #7cc6a5;
    --correction-3: #22b573;
    --correction-success: var(--classroom-green);
    --correction-fail: var(--classroom-red);


    --classroom-background: #fff;
    --classroom-background-1: #f6f6f6;
    --classroom-text-0: black;
    --classroom-text-1: #333;
    --classroom-text-2: #666;

    --classroom-shadow-1: rgba(0, 0, 0, 0.2);
    --classroom-cell: #E6E6E6;

    --classroom-white: #fff;
    --classroom-black: #000;
    --classroom-grey: #CCCCCC;
    --classroom-green: #22b573;
    --classroom-red: #dc3545;
    --classroom-red-dark: #ad242c;
    --classroom-blue: #3fa9f5;
    --classroom-gold: #f0af39;

    /* Default dashboard colors (used for students) */
    --classroom-dashboard: var(--classroom-primary);
    --classroom-dashboard-dark: var(--classroom-primary-dark);

}

.theme-dark {
    --classroom-background: #181818;
    --classroom-background-1: #0a0a0a;
    --classroom-text-0: rgb(255, 255, 255);
    --classroom-text-1: rgb(205, 205, 205);
    --classroom-text-2: rgb(153, 153, 153);
    --classroom-shadow-1: rgba(0, 0, 0, 1);
    --classroom-cell: #4e4e4e;
}

/* Change the hue-rotate to make the icon color match your primary color */
.sidebar-classroom div img:not(.user-picture),
.hue-rotate-base {
    filter: hue-rotate(320deg);
}

/* Change the scale of your logo if it is too big */
#classroom-sidebar-logo {
    background-size: 90% !important;
}

/* OTHER USER TYPES */

/* TEACHER THEMING
Used when the insterface is used by a teacher */
.theme-teacher {
    --classroom-dashboard: #1976d2;
    --classroom-dashboard-dark: #1260ad;
}

.theme-teacher .sidebar-classroom div img:not(.user-picture),
.hue-rotate-teacher {
    /* Change the hue-rotate to make the icon color match your theme color */
    filter: hue-rotate(45deg);
}


/* GROUP ADMIN THEMING
Used when the insterface is used by a group administrator */
.theme-group-admin {
    --classroom-dashboard: #F1CA3F;
    --classroom-dashboard-dark: #DEB421;
}

.theme-group-admin .sidebar-classroom div img:not(.user-picture),
.hue-rotate-group-admin {
    /* Change the hue-rotate to make the icon color match your theme color */
    filter: hue-rotate(260deg) brightness(1.2);
}

/* SUPER ADMIN THEMING
Used when the insterface is used by a super administrator */
.theme-super-admin,
.hue-rotate-super-admin {
    --classroom-dashboard: #BB5D5D;
    --classroom-dashboard-dark: #A84D4D;
}

.theme-super-admin .sidebar-classroom div img:not(.user-picture) {
    /* Change the hue-rotate to make the icon color match your theme color */
    filter: hue-rotate(210deg);
}