<div id="classroom-dashboard-classes-new-activity-title" style="display:none;" class="dashboard-block ">
    <nav class="row form-activity-container" style="margin: 0 auto;">
        <div class="col text-center">
            <span class="form-activity form-activity-desactivate">1</span>
            <span data-i18n="classroom.activities.form.1">Application</span>
        </div>

        <div class="col"></div>

        <div class=" col text-center">
            <span class="form-activity form-activity-desactivate">2</span>
            <span data-i18n="classroom.activities.form.2">Contenu</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <div class=" col text-center">
            <span class="form-activity form-activity-activate">3</span>
            <span>Titre</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <div class="col text-center">
            <span class="form-activity form-activity-desactivate">4</span>
            <span>Attribution</span>
        </div>
    </nav>
</div>