<div id="classroom-dashboard-classes-new-activity" style="display:none;" class="dashboard-block classes-panel">
    

    <nav class="row form-activity-container" style="margin: 0 auto;">
        <div class="col text-center">
            <span class="form-activity form-activity-desactivate">1</span>
            <span data-i18n="classroom.activities.form.1">Application</span>
        </div>

        <div class="col"></div>

        <div class=" col text-center">
            <span class="form-activity form-activity-activate">2</span>
            <span data-i18n="classroom.activities.form.2">Contenu</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <div class=" col text-center">
            <span class="form-activity form-activity-desactivate">3</span>
            <span>Titre</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <div class="col text-center">
            <span class="form-activity form-activity-desactivate">4</span>
            <span>Attribution</span>
        </div>
    </nav>

    <div class="form-group mb-2 part-content-index part-row c-primary-form">
        <div class="states m-3">
            <h3>Énoncé</h3>
            <textarea name="TA_enonce" id="TA_enonce" cols="20" rows="5"></textarea>
        </div>
        <div class="content m-3">
            <h3>Contenu</h3>
            <textarea name="TA_content" id="TA_content" cols="20" rows="5"></textarea>
        </div>
        <div class="tolerance m-3">
            <p>Ajouter une tolérance d'erreurs de <span></span> caractère(s) sur l'ensemble de la réponse de l'élève.</p>
        </div>
        <div class="help m-3">
            <p><span class="font-weight-bold">Indice *</span> s'affiche si la réponse est fausse</p>
            <input type="text" name="indice" id="indice" placeholder="Indice">
        </div>
    </div>

</div>