
<!-- content part -->
<div id="classroom-dashboard-classes-new-activity" style="display:none;" class="dashboard-block classes-panel">
    <nav class="row form-activity-container" style="margin: 0 auto;">
        <div class="col text-center">
            <span class="form-activity form-activity-desactivate">1</span>
            <span data-i18n="classroom.activities.form.1">Application</span>
        </div>

        <div class="col"></div>

        <div class=" col text-center">
            <span class="form-activity form-activity-activate">2</span>
            <span data-i18n="classroom.activities.form.2">Contenu</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <div class=" col text-center">
            <span class="form-activity form-activity-desactivate">3</span>
            <span>Titre</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <div class="col text-center">
            <span class="form-activity form-activity-desactivate">4</span>
            <span>Attribution</span>
        </div>
    </nav>

    <div class="form-group mb-2 part-content-index part-row c-primary-form w-75 m-auto">
        <div class="states m-3">
            <h3>Énoncé</h3>
            <textarea id="free_enonce" ></textarea>
        </div>
        <div class="content m-3">
            <h3>Contenu</h3>
            <textarea id="free_content"></textarea>
        </div>
        <div class="tolerance m-3">
            <p>Ajouter une tolérance d'erreurs de <span> <input type="number" id="free_tolerance" value="0"> </span> caractère(s) sur l'ensemble de la réponse de l'élève.</p>
        </div>
        <div class="help m-3">
            <p><span class="font-weight-bold">Indice *</span> s'affiche si la réponse est fausse</p>
            <input type="text" id="free_indice" placeholder="Indice">
        </div>
    </div>

    <div>
        <button class="btn c-btn-outline-danger" onclick="contentBackward()"> Retour </button>
        <button class="btn c-btn-outline-primary" onclick="contentForward()"> Sauvegarder et continuer </button>
    </div>
</div>


<!-- title part -->
<div id="classroom-dashboard-classes-new-activity-title" style="display:none;" class="dashboard-block ">
    <nav class="row form-activity-container" style="margin: 0 auto;">
        <div class="col text-center">
            <span class="form-activity form-activity-desactivate">1</span>
            <span data-i18n="classroom.activities.form.1">Application</span>
        </div>

        <div class="col"></div>

        <div class=" col text-center">
            <span class="form-activity form-activity-desactivate">2</span>
            <span data-i18n="classroom.activities.form.2">Contenu</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <div class=" col text-center">
            <span class="form-activity form-activity-activate">3</span>
            <span>Titre</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <div class="col text-center">
            <span class="form-activity form-activity-desactivate">4</span>
            <span>Attribution</span>
        </div>
    </nav>

    <div class="form-group mb-2 part-content-index part-row c-primary-form w-75 m-auto">
        <p>Titre : </p>
        <input type="text" id="ActivityTitle">
    </div>

    <div>
        <button class="btn c-btn-outline-danger" onclick="titleBackward()"> Retour </button>
        <button class="btn c-btn-outline-primary" onclick="titleForward()"> Sauvegarder et attribuer </button>
    </div>
</div>

<!-- title part -->
<div id="classroom-dashboard-classes-new-activity-attribution" style="display:none;" class="dashboard-block class-creation-form-step2">

    <nav class="row form-activity-container" style="margin: 0 auto;">
        <div class="col text-center">
            <span class="form-activity form-activity-desactivate">1</span>
            <span data-i18n="classroom.activities.form.1">Application</span>
        </div>

        <div class="col"></div>

        <div class=" col text-center">
            <span class="form-activity form-activity-desactivate">2</span>
            <span data-i18n="classroom.activities.form.2">Contenu</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <div class=" col text-center">
            <span class="form-activity form-activity-desactivate">3</span>
            <span>Titre</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <div class="col text-center">
            <span class="form-activity form-activity-activate">4</span>
            <span>Attribution</span>
        </div>
    </nav>

    <div class="text-center px-1">
        <h3 class="c-text-primary text-uppercase font-weight-bold" data-i18n="classroom.activities.form.success"></h3>
    </div>

    <div class="container text-center">
        <div class="row my-2">
            <div class="col-sm mb-2">
                <button id="new-activity-panel3" class="new-activity-panel3 btn c-btn-primary">
                    <span data-i18n="classroom.activities.form.attribute"></span> <i class="fas fa-chevron-right"></i>
                </button>
            </div>
            <div class="col-sm mb-2">
                <button onclick="navigatePanel('classroom-dashboard-activities-panel-teacher', 'dashboard-activities-teacher')" class="btn c-btn-primary">
                    <span data-i18n="classroom.activities.form.return"></span> <i class="fas fa-chevron-right"></i>
                </button>
            </div>

        </div>
        <p data-i18n="classroom.activities.form.hint"></p>
        <button class="btn c-btn-outline-primary" onclick="createActivity()" data-i18n="classroom.activities.form.modify"></button>
    </div>
</div>