<div id="app-media-galery" class="dashboard-block" style="display: none;">

    <nav class="form-activity-container" style="margin: 0 auto;">
        <div class="col text-center">
            <span class="form-activity form-activity-secondary"><i class="fas fa-check"></i></span>
            <span data-i18n="classroom.activities.form.1">Application</span>
        </div>

        <div class="col"></div>

        <div class=" col text-center">
            <span class="form-activity form-activity-activate">2</span>
            <span data-i18n="classroom.activities.form.2">Contenu</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <div class=" col text-center">
            <span class="form-activity form-activity-desactivate">3</span>
            <span data-i18n="classroom.activities.form.3">Titre</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <div class="col text-center">
            <span class="form-activity form-activity-desactivate">4</span>
            <span data-i18n="classroom.activities.form.4">Attribution</span>
        </div>
    </nav>


    <div class="d-flex flex-fill mx-auto mt-4 w-75 c-primary-form">
        <label for="apps-file-search" class="sr-only">Rechercher</label>
        <input type="search" name="apps-file-search" id="apps-file-search" class="flex-fill seach-app-galery" data-i18n="[placeholder]manager.buttons.search">
    </div>
    <div class="container app-media-galery mt-4 justify-content-center"  id="app-media-galery-container">
    </div>

    <nav aria-label="pagination" class="mx-auto mt-3 d-flex">
        <ul class="pagination mx-auto" id="app-media-galery-pagination"></ul>
    </nav>
</div>

