<div id="vitta-footer">
    <div id="footer-content">
        <div class="footer-part">
            <a class="footer-link text-uppercase d-block" href="/" data-i18n="classroom.footer.privacy"></a>
        </div>
        <div class="footer-part">
            <a class="footer-link text-uppercase d-block" href="/cgu" target="_blank"
                data-i18n="[html]classroom.footer.cgu"></a>
        </div>
        <div class="footer-part">
            <span class="text-uppercase d-block" style="color: var(--bg-0)"
                data-i18n="classroom.footer.copyright"></span>
        </div>
    </div>
</div>