<div id="groupadmin-dashboard-users" style="display:none;" class="dashboard-block">
    <div class="d-flex justify-content-center c-primary-form activity-search" style="margin: 0 auto;">
        <div class="container">
            <div class="row">
                <div class="row mb-2" id="btn-create-superadmin">
                    <button class="btn-warning btn mx-1" id="create_user_link_to_group_groupadmin">
                        Créer un utilisateur
                    </button>
                </div>
            </div>

            <div class="row" id="groupadmin_groups">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Groupe</th>
                            <th scope="col">Description</th>
                            <th scope="col">Applications</th>
                        </tr>
                    </thead>
                    <tbody id="groups_table_groupadmin">
                    </tbody>
                </table>
            </div>

            <div id="table_details_users_groupadmin">

                <div class="row my-2" id="users_options_groupadmin">

                    <input class="mr-sm-2 flex-fill" type="search" id="name_user_search_groupadmin"
                        placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-info btn-sm" id="search_user_groupadmin">Rechercher</button>

                    <select class="my-1 mr-sm-2 form-select" id="sort_users_filter_groupadmin">
                        <option selected value="0">Trier par nom</option>
                        <option value="1">Trier par prénom</option>
                        <option value="2">Trier par pseudo</option>
                    </select>

                    <div class="mx-3">
                        <label for="users_per_page">Utilisateurs par page</label>
                        <select name="users_per_page" id="users_per_page_groupadmin" class="my-1 mr-sm-2 form-select">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>

                </div>

                <div class="row my-2">
                    <button class="btn btn-secondary btn-sm mx-2" id="table_back_to_users_groupadmin"> -
                    </button>
                    <h2 id="group_name_from_table_groupadmin"></h2>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Rôle</th>
                            <th scope="col">Applications</th>
                            <th scope="col">Régénérer le mot de passe</th>
                            <th scope="col">Modifier</th>
                            <th scope="col">Supprimer</th>
                        </tr>
                    </thead>
                    <tbody id="table_info_group_data_groupadmin">
                    </tbody>
                </table>

                <div id="paginationButtons_users_groupadmin" class="m-auto">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- DEBUG GroupAdmin -->