<div id="groupadmin-dashboard-help" style="display:none;" class="dashboard-block help-panel">

    <div class="contact-panel">
        <h3 data-i18n="classroom.teacherHelpPanel.contactForm.title" class="title-margin"></h3>

        <div id="groupadmin-about-contact-info">
            <form id="groupadmin-about-contact-form" class="c-primary-form">
                <div class="form-group">
                    <label for="groupadmin-contact-subject-input" class="sr-only">Objet</label>
                    <input type="text" name="subject" class="form-control" id="groupadmin-contact-subject-input" data-i18n="[placeholder]classroom.teacherHelpPanel.contactForm.objectPlaceholder" placeholder="Objet">
                </div>
                <div class="form-group">
                    <label for="groupadmin-contact-message-input" class="sr-only">Message</label>
                    <textarea name="message" class="form-control" id="groupadmin-contact-message-input" rows="8" cols="25" style="resize: none; width: 100%;" data-i18n="[placeholder]classroom.teacherHelpPanel.contactForm.messagePlaceholder" placeholder="Écrivez votre message ici. (Maximum 800 caractères)"></textarea>
                </div>

                <input type="button" data-i18n="[value]classroom.teacherHelpPanel.contactForm.sendButton" style="cursor:not-allowed;" id="btn-help-for-groupAdmin" disabled class="btn btn-lg login-button c-btn-primary">
            </form>
        </div>
        <br>
        <div id="footer-content">
            <p>
                <a class="footer-link text-uppercase" href="/classroom/privacy.php" target="_blank" data-i18n="[html]classroom.footer.privacy"></a>
            </p>
            <p>
                <a class="footer-link text-uppercase" href="/classroom/cgu.php" target="_blank" data-i18n="[html]classroom.footer.cgu"></a>
            </p>
            <p>
                <a class="footer-link text-uppercase" href="/classroom/legal.php" target="_blank" data-i18n="[html]classroom.footer.legal"></a>
            </p>
            <p data-i18n="classroom.footer.copyright">
            </p>
        </div>
    </div>
    <!-- <div class="faq-panel">
        <h2 class="c-text-secondary font-weight-bold text-center mt-5">FAQ</h2>
        <div id="groupadmin-faq-container"></div>
    </div> -->
</div>