<div id="classroom-dashboard-top-bar">
    <!-- Breadcrumb -->
    <div id="breadcrumb"></div>

    <div id="notif-div"  data-testid="homeNotifContainer"></div>
    <button class="btn c-btn-secondary" type="button" id="questionMenuButton" style="display: none;">
        <i class="fas fa-question"></i>
    </button>
    <div id="a11y-dropdown" class="dropdown">
        <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  aria-label="Options d'accessibilité" title="Options d'accessibilité">
            <i class="fas fa-low-vision" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right a11y-dropdown" aria-labelledby="dropdownMenuButton">
            <form action="javascript:void(0);" id="access-form">
                <h5 class="c-text-primary text-center"><i class="fas fa-low-vision"></i> <span data-i18n='switchAccessibility.title'></span></h5>

                <h5 data-i18n='switchAccessibility.theme'>Thème</h5>
                <div style="margin: 0 auto; width: 196px">
                    <input type="radio" id="radio-light-theme" name="theme" value="light">
                    <label for="radio-light-theme" data-i18n='switchAccessibility.light_theme'>Thème
                        clair</label><br>

                    <input type="radio" id="radio-dark-theme" name="theme" value="dark">
                    <label for="radio-dark-theme" data-i18n='switchAccessibility.dark_theme'>Thème
                        sombre</label><br>
                </div>

                <h5 data-i18n='switchAccessibility.contrast'>Contraste</h5>
                <div style="margin: 0 auto; width: 196px">
                    <input type="radio"  name="contrast" value="normal" id="radio-normal-contrast">
                    <label for="radio-normal-contrast" data-i18n='switchAccessibility.normal_contrast'>
                        Contraste normal
                    </label><br>

                    <input type="radio" name="contrast" value="high" id="radio-high-contrast">
                    <label for="radio-high-contrast" data-i18n='switchAccessibility.high_contrast'>
                        Contraste élevé
                    </label><br>
                </div>

                <h5 data-i18n='switchAccessibility.font'>Polices</h5>
                <div style="margin: 0 auto; width: 196px">
                    <input type="radio" id="radio-basic-font" name="font" value="lato">
                    <label for="radio-basic-font" style="font-family: 'Montserrat'!important" data-i18n='switchAccessibility.basic_font'>Basique</label><br>

                    <input type="radio" id="radio-luciole-font" name="font" value="luciole">
                    <label for="radio-luciole-font" style="font-family: 'Luciole'!important">Luciole</label><br>

                    <input type="radio" id="radio-dys-font" name="font" value="dys">
                    <label for="radio-dys-font" style="font-family: 'OpenDyslexic'!important">OpenDyslexic</label><br>

                    <input type="radio" id="radio-arial-font" name="font" value="arial">
                    <label for="radio-arial-font" style="font-family: 'Arial'!important">Arial</label><br>

                    <input type="radio" id="radio-verdana-font" name="font" value="verdana">
                    <label for="radio-verdana-font" style="font-family: 'Verdana'!important">Verdana</label><br>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="classroom-dashboard-content" tabindex="0" role="main" aria-label="Contenu principal du tableau de bord de la classe">
