</div>
</div>
</div>
<script src="assets/js/lib/jquery-3.5.1/jquery-3.5.1.min.js"></script>
<script src="assets/js/lib/wysibb/jquery.wysibb.js"></script>
<script src="assets/js/lib/jquery_ui-1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" stype="text/css" href="assets/js/lib/wysibb/theme/default/wbbtheme.css?version=VERSIONNUM">
<script>
    $(document).ready(function () {
        let wbbOpt = {
            buttons: ",bold,italic,underline,|,justifyleft,justifycenter,justifyright,img,link,|,quote,bullist,|,vittaiframe,cabriiframe,vittapdf,video,peertube,vimeo,genialyiframe,gdocsiframe"
        }
        $("#activity-form-content").wysibb(wbbOpt);
    })
</script>
<script src="assets/js/lib/popper-1.16.0/popper.min.js"></script>
<script src="assets/js/lib/bootstrap-4.4.1/bootstrap.min.js"></script>
<script src="assets/js/lib/i18next.js?version=VERSIONNUM"></script>
<script src="assets/js/lib/jquery-i18next.min.js?version=VERSIONNUM"></script>
<script src="assets/js/lib/i18nextXHRBackend.min.js?version=VERSIONNUM"></script>
<script  src="assets/js/lib/i18nextBrowserLanguageDetector.min.js?version=VERSIONNUM"></script>
<!-- drag and drop bundle -->
<link rel="stylesheet" stype="text/css" href="assets/css/dragula.css?version=VERSIONNUM">
<script src="assets/js/lib/dragula.js?version=VERSIONNUM" ></script>
<!-- build:js-classroom -->
<script src="assets/js/utils/url.js?version=VERSIONNUM"></script>
<script src="assets/js/utils/parsingJson.js?version=VERSIONNUM"></script>
<script src="assets/js/utils/text.js?version=VERSIONNUM"></script>
<script src="assets/js/lib/rotate.js?version=VERSIONNUM"></script>
<script src="assets/js/utils/bbcodeToHtml.js?version=VERSIONNUM"></script>
<script src="assets/js/utils/activityContentManager.js?version=VERSIONNUM"></script>
<script src="assets/js/utils/registrationTemplate.js?version=VERSIONNUM"></script>
<script src="assets/js/scripts/disconnect.js?version=VERSIONNUM"></script>
<script src="assets/js/scripts/dashboardActivities.js?version=VERSIONNUM"></script>
<script src="assets/js/scripts/teacherActivities.js?version=VERSIONNUM"></script>
<script src="assets/js/scripts/manageClassroom.js?version=VERSIONNUM"></script>
<script src="assets/js/scripts/displayPanel.js?version=VERSIONNUM"></script>
<script src="assets/js/main/modal.js?version=VERSIONNUM"></script>
<script src="assets/js/constants/modals.js?version=VERSIONNUM"></script>
<script src="assets/js/scripts/buttons.js?version=VERSIONNUM"></script>
<script src="assets/js/scripts/ActivityTracker.js?version=VERSIONNUM"></script>
<script src="assets/js/scripts/activityManager.js?version=VERSIONNUM"></script>
<script src="assets/js/scripts/classroomDisplay.js?version=VERSIONNUM"></script>
<!-- end build -->
<script src="assets/js/main/Loader.js?version=VERSIONNUM"></script>
<script src="assets/js/main/UIManager.js?version=VERSIONNUM"></script>
<script src="assets/js/main/User.js?version=VERSIONNUM"></script>
<script src="assets/js/main/ClassroomManager.js?version=VERSIONNUM"></script>
<!-- manager & groupadmin -->
<script src="assets/js/main/ManagerManager.js?version=VERSIONNUM"></script>
<script src="assets/js/main/GroupAdminManager.js?version=VERSIONNUM"></script>
<script src="assets/js/main/MainManagerAndGroup.js?version=VERSIONNUM"></script>
<!-- end manager & groupadmin -->
<script src="assets/js/main/Main.js?version=VERSIONNUM"></script>
<script src="assets/js/main/Loader.js?version=VERSIONNUM"></script>
<!-- courses -->
<script src="assets/js/main/CoursesManager.js?version=VERSIONNUM"></script>
<!-- Custom Activities -->
<script src="assets/js/main/CustomActivityManager.js"></script>
<!-- Folder management -->
<script src="assets/js/main/FoldersManager.js?version=VERSIONNUM"></script>

<script>
    UIManager.init().then((resolve) => {
        UserManager.init().then((resolve) => {
                Main.init().then((resolve) => {
                    const EVENTS_SCRIPTS = [{
                            id: "modals",
                            src: "assets/js/scripts/loadModals.js?version=VERSIONNUM"
                        },
                        {
                            id: "i18n",
                            src: "assets/js/scripts/checkMail.js?version=VERSIONNUM"
                        }
                    ];
                    Loader.loadScripts(EVENTS_SCRIPTS).then(
                        (resolve) => {
                            let user = UserManager.getUser()

                            if (user.isRegular) {
                                $('body').addClass('theme-teacher')
                                $('.user-picture').attr('src',`/classroom/assets/media/alphabet/${UserManager.getUser().firstname.slice(0, 1).toUpperCase()}.png`)

                                let administration = [];
                                // Init the super and group admin
                                let currentTask = (onEnd) => {
                                    mainGroupAdmin.init().then((resolve) => {
                                        administration[1] = resolve;
                                        mainManager.init().then((resolve) => {
                                            administration[0] = resolve;
                                            createRegistrationTemplate();
                                            goBackToThePreviousView(administration);
                                            // Courses
                                            coursesManager.actualizeCourse();
                                            onEnd();
                                        })
                                    })
                                }

                                Main.getClassroomManager()._addTaskToQueue(currentTask);
                            } else {
                                // panel => classroom-dashboard-activities-panel-teacher
                                // nav => dashboard-activities-teacher
                                $('#classroom-dashboard-sidebar').show()
                                $('body').addClass('theme-student')
                                $('.user-picture').attr('src', '/classroom/assets/media/alphabet/' + UserManager.getUser().pseudo.slice(0, 1).toUpperCase() + '.png')
                                Main.getClassroomManager().getMyClassroom(UserManager.getUser().id).then(function (classroom) {
                                    $('#classroom-name').html(classroom.name)
                                    ClassroomSettings.classroom = classroom.link
                                    if ($_GET('panel') && (ClassroomSettings.mixPanels.includes($_GET('panel')) || ClassroomSettings.studentPanels.includes($_GET('panel')))) {
                                        navigatePanel($_GET('panel'), $_GET('nav'), $_GET('option'), $_GET('interface'))
                                    } else {
                                        navigatePanel(
                                            'classroom-dashboard-profil-panel',
                                            'dashboard-profil', $_GET('option'),
                                            $_GET('interface'))
                                    }
                                    if (UserManager.getUser().isFromGar) {
                                        document.getElementById('settings-student')
                                            .style.display = 'none';
                                    }
                                })
                            }
                        },
                        (reason) => {
                            console.log("Loader failed to load: " + reason);
                            failedToLoad();
                        }
                    ).then((resolve)=> {
                        // hide spinner when load
                        $("#spinner-loading").hide();
                    });
                })
            },
            (reason) => {
                console.log("UserManager failed to load: " + reason);
                failedToLoad();
            }
        );
    })

    // Update Rémi, allow to return in the manager or groupadmin mode after a refresh
    function goBackToThePreviousView(administration = []) {
        if ($_GET('panel') &&
        (ClassroomSettings.mixPanels.includes($_GET('panel')) ||
        ClassroomSettings.teacherPanels.includes($_GET('panel')) ||
        ClassroomSettings.managerPanels.includes($_GET('panel')) ||
        ClassroomSettings.groupAdminPanels.includes($_GET('panel')))) {
            if (administration[0] === true && $_GET('panel').includes("manager") && $_GET('nav').includes("manager")) {
                switchTomanager();
                navigatePanel($_GET('panel'), $_GET('nav'), $_GET('option'), $_GET('interface'));
                if ($_GET('panel') === "manager-dashboard-main") {
                    getGroupsManagerInfo();
                } else if ($_GET('panel') === "manager-apps-main") {
                    getAndShowApps();
                }
            } else if (administration[1] === true && $_GET('panel').includes("groupadmin") && $_GET('nav').includes("groupadmin")) {
                switchToGroupAdmin();
                navigatePanel($_GET('panel'), $_GET('nav'), $_GET('option'), $_GET('interface'));
                if ($_GET('panel') === "groupadmin-dashboard-users") {
                    getTheGroupOftheAdmin();
                } else if ($_GET('panel') === "groupadmin-apps-main") {
                    setTimeout(() => {
                        getGroupMonitoring();
                    }, 500);
                }
            } else {
                $('#classroom-dashboard-sidebar-teacher').show()
                navigatePanel($_GET('panel'), $_GET('nav'), $_GET('option'), $_GET('interface'));
            }
        } else {
            $('#classroom-dashboard-sidebar-teacher').show()
            navigatePanel('classroom-dashboard-profil-panel-teacher', 'dashboard-profil-teacher', $_GET('option'), $_GET('interface'));
        }
    }
</script>
<script src="assets/js/utils/translate.js?version=VERSIONNUM"></script>
<!-- PLUGIN SCRIPTS-->

<!-- END PLUGIN SCRIPTS -->
</body>

</html>
