<div id="login-container" style="display:none;position:relative;">
    <div class="login-form" id="signupin-div">
        <h1><span class="fa fa-sign-in-alt"></span><span data-i18n="login_popup.title"></span> <button
                onclick="returnToConnectionPanel('#login-container')" class="btn close-login-classroom" type="button" aria-label="Fermer la fenêtre de connexion"><i
                    class="fas fa-times" aria-hidden="true"></i></button></h1>

        <p data-i18n="login_popup.details"></p>
        <p>
          <a href='#' onclick="displaySignupClass();" aria-label="Créer un compte" role="button">
            <span data-i18n="classroom.login.registerLink">S'inscrire</span>
          </a>
        </p>
        <div id="info-div">

        </div>
        <form id="login-form">
            <label for="login-mail-input">
                <span class="fa fa-at"></span> <span data-i18n="login_popup.form.addressmail"></span><span
                    class="mandatory">*</span>
            </label>
            <input name='mail' style="margin-bottom:5px;"
                data-i18n="[placeholder]login_popup.form.addressmail_placeholder" class="form-control" type="email"
                id="login-mail-input">

            <label for="login-pwd-input">
                <span class="fa fa-key"></span> <span data-i18n="login_popup.form.password"></span><span
                    class="mandatory">*</span>
            </label>
            <input name='password' data-i18n="[placeholder]login_popup.form.password_placeholder" class="form-control"
                type="password" id="login-pwd-input">

            <input type="text" name="za78e-username" autocomplete="off" value="" id="za78e-username" class="za78e-field"
                placeholder="za78e username" />
            <input type="number" name="za78e-number" autocomplete="off" max="10" min="0" id="za78e-number"
                class="za78e-field" placeholder="za78e number" />

            <div>
                <a class="hint" href="/passwordRecovery" data-i18n="login_popup.form.forgot_password"></a>
            </div>
            <button type='button' style="margin-top:10px;" onclick="checkLogin();" class="btn c-btn-secondary"
                id="login-button" data-i18n="login_popup.form.btn_connect"></button>
        </form>
    </div>
</div>