<!-- page de login à choix multiple -->
<div id="classroom-login-container" style="display:none;">
    <div class="inner-login-container">
        <div id="classroom-login-code" class="container-border-left">
            <h3 class="font-weight-bold c-text-secondary" data-i18n="classroom.login.student"></h3>
            <div class="c-secondary-form">
                <img src="./assets/media/orange_lock.png" class="icon-label" alt="Icône de sécurité">
                <label for="secret_code"> Rentrez ici votre code classe</label><br>
                <input type="text" placeholder="123ABC" name="secret_code" id="class-code" required>
            </div>
            <button class="btn c-btn-secondary" id="class-connexion" type="submit">Confirmer <i
                    class="fas fa-chevron-right"></i></button>
        </div>
        <div id="classroom-login-account" class="container-border-center">
            <h3 class="font-weight-bold c-text-primary" data-i18n="classroom.login.teacher"></h3>
            <p>Vous avez déja un compte Vittascience ?</p>
            <span id="login-vittascience" class="btn login-button c-btn-primary" role="button">
                Se connecter <i class="fas fa-chevron-down"></i>
            </span>
        </div>
        <div id="classroom-login-gar" class="container-border-right">
            <img src="./assets/media/logoGAR.png" alt="Logo GAR">
            <span class="gar-presentation-text">Profitez du mode classe en toute simplicité à l'aide du GAR.<br>
                <a href="/gar">Cliquez ici</a> pour en savoir plus.</span>
        </div>

    </div>
</div>