<div id="groupadmin-dashboard-sidebar" class="sidebar-classroom" style="display:none;">
    <!-- set your logo here -->
    <div id="classroom-sidebar-logo"></div>

    <div class="classroom-navbar-button" id="dashboard-groupadmin-users-side"
        onclick="navigatePanel('groupadmin-dashboard-users', 'dashboard-groupadmin-users-side')" role="button" tabindex="0">
        <img src="assets/media/my_classes.svg" alt="Icône classe">
        <span data-i18n="manager.users.users">Utilisateurs</span>
    </div>

    <div class="classroom-navbar-button" id="dashboard-groupadmin-apps"
        onclick="navigatePanel('groupadmin-apps-main', 'dashboard-groupadmin-apps')" role="button" tabindex="0">
        <img src="assets/media/my_apps.svg" alt="Icône classe">
        <span data-i18n="manager.apps.apps">Applications</span>
    </div>

    <div class="classroom-navbar-button" id="dashboard-groupadmin-help-side"
        onclick="navigatePanel('groupadmin-dashboard-help', 'dashboard-groupadmin-help-side')" role="button" tabindex="0">
        <img src="assets/media/call_for_help.svg" alt="Icône Appel à l'aide">
        <span data-i18n="manager.profil.help">Appel à l'aide</span>
    </div>

    <div id="dashboard-profil-groupadmin" class="classroom-navbar-button"
        onclick="navigatePanel('classroom-dashboard-profil-panel-groupadmin', 'dashboard-profil-groupadmin')" role="button" tabindex="0">
        <img class="user-picture" src="assets/media/profile_picture.svg" alt="Photo de profil">
        <span data-i18n="classroom.ids.classroom-dashboard-profil-panel-teacher"></span>
    </div>
</div>