<div id="classroom-dashboard-background">
    <div id="classroom-dashboard-container">
        <div id="classroom-dashboard-sidebar" class="sidebar-classroom" style="display:none;">
            <div id="classroom-sidebar-logo"></div>
            <div class="classroom-navbar-button" id="dashboard-activities"><img src="assets/media/my_activities.svg?version=1.2.7c"
                    alt="Icône activités">
                <span data-i18n="classroom.ids.classroom-dashboard-activities-panel-teacher"></span>
            </div>
            <div class=" classroom-navbar-button" id="dashboard-help"
                onclick="navigatePanel('classroom-dashboard-help-panel', 'dashboard-help')"><img
                    src="assets/media/call_for_help.svg?version=1.2.7c" alt="Icône Appel à l'aide">
                <span data-i18n="classroom.ids.classroom-dashboard-help-panel"></span>
            </div>
            <div id="dashboard-profil" class="classroom-navbar-button"
                onclick="navigatePanel('classroom-dashboard-profil-panel', 'dashboard-profil')"><img
                    class="user-picture" src="assets/media/profile_picture.svg?version=1.2.7c" alt="Photo de profil">
                <span data-i18n="classroom.ids.classroom-dashboard-profil-panel-teacher"></span>
            </div>

        </div>
