<div id="manager-dashboard-sidebar" class="sidebar-classroom" style="display:none;">
    <!-- set your logo here -->
    <div id="classroom-sidebar-logo"></div>

    <div class="classroom-navbar-button" id="dashboard-manager-groups"
        onclick="navigatePanel('manager-dashboard-main', 'dashboard-manager-groups')" 
        onkeydown="if(event.key==='Enter'||event.key===' '){navigatePanel('manager-dashboard-main', 'dashboard-manager-groups');}"
        role="button" tabindex="0">
        <img src="assets/media/my_classes.svg" alt="Icône classe">
        <span data-i18n="manager.users.users">Utilisateurs</span>
    </div>

    <div class="classroom-navbar-button" id="dashboard-manager-apps"
        onclick="navigatePanel('manager-apps-main', 'dashboard-manager-apps')" 
        onkeydown="if(event.key==='Enter'||event.key===' '){navigatePanel('manager-apps-main', 'dashboard-manager-apps');}"
        role="button" tabindex="0">
        <img src="assets/media/my_apps.svg" alt="Icône Apps">
        <span data-i18n="manager.apps.apps">Applications</span>
    </div>

    <div id="dashboard-profil-manager" class="classroom-navbar-button"
        onclick="navigatePanel('classroom-dashboard-profil-panel-manager', 'dashboard-profil-manager')" 
        onkeydown="if(event.key==='Enter'||event.key===' '){navigatePanel('classroom-dashboard-profil-panel-manager', 'dashboard-profil-manager');}"
        role="button" tabindex="0">
        <img class="user-picture" src="assets/media/profile_picture.svg" alt="Photo de profil">
        <span data-i18n="classroom.ids.classroom-dashboard-profil-panel-teacher"></span>
    </div>
</div>