<div id="groupadmin-dashboard-sidebar" class="sidebar-classroom" style="display:none;">
    <!-- set your logo here -->
    <div id="classroom-sidebar-logo"></div>

    <div class="classroom-navbar-button" id="dashboard-groupadmin-users-side"
        onclick="navigatePanel('groupadmin-dashboard-users', 'dashboard-groupadmin-users-side')">
        <img src="assets/media/my_classes.svg" alt="Icône classe">
        <span data-i18n="superadmin.users.users">Utilisateurs</span>
    </div>

    <div class="classroom-navbar-button" id="dashboard-groupadmin-help-side"
        onclick="navigatePanel('groupadmin-dashboard-help', 'dashboard-groupadmin-help-side')">
        <img src="assets/media/my_classes.svg" alt="Icône classe">
        <span data-i18n="superadmin.profil.help">Appel à l'aide</span>
    </div>

    <div id="dashboard-profil-groupadmin" class="classroom-navbar-button"
        onclick="navigatePanel('classroom-dashboard-profil-panel-groupadmin', 'dashboard-profil-groupadmin')">
        <img class="user-picture" src="assets/media/profile_picture.svg" alt="Photo de profil">
        <span data-i18n="classroom.ids.classroom-dashboard-profil-panel-teacher"></span>
    </div>
</div>