<div id="superadmin-dashboard-sidebar" class="sidebar-classroom" style="display:none;">
    <!-- set your logo here -->
    <div id="classroom-sidebar-logo"></div>

    <div class="classroom-navbar-button" id="dashboard-superadmin-groups"
        onclick="navigatePanel('superadmin-dashboard-main', 'dashboard-superadmin-groups')">
        <img src="assets/media/my_classes.svg" alt="Icône classe">
        <span data-i18n="superadmin.users.users">Utilisateurs</span>
    </div>

    <div id="dashboard-profil-superadmin" class="classroom-navbar-button"
        onclick="navigatePanel('classroom-dashboard-profil-panel-superadmin', 'dashboard-profil-superadmin')">
        <img class="user-picture" src="assets/media/profile_picture.svg" alt="Photo de profil">
        <span data-i18n="classroom.ids.classroom-dashboard-profil-panel-teacher"></span>
    </div>
</div>