<div id="classroom-dashboard-activities-panel-teacher" style="display:none;" class="dashboard-block">
    <div class="d-flex justify-content-center c-primary-form row" style="margin: 0 auto;">


        <div class="col-12 col-lg-8 mt-2">
            <div class="d-flex flex-fill">

                <div class="dropdown mx-2 d-none" id="tags-panel">
                    <button class="btn c-btn-primary" style="width: auto;height: 3em;min-width: 3em;" type="button" id="dropdownTag" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-filter"></i>
                        <span class="ms-1 d-none d-md-inline">Filtres</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownTag" id="dropdown-tags-filter">
                    </div>
                </div>
                <label for="filter-activity-input" class="visually-hidden">Rechercher une activité</label>
                <input type="search" id="filter-activity-input" data-i18n="[placeholder]manager.buttons.search" class="flex-fill">

                <button id="filter-activity" class="btn btn-primary" style="width: 3em;height: 3em;" aria-label="Lancer la recherche">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="col-12 col-md-auto vertical-align-center mt-2 space-evenly">

            <div class="col-auto mx-auto mt-2">
                <select name="filter-activity-select" id="filter-activity-select" class="c-primary-form">
                    <option value="desc" data-i18n="classroom.filter.desc"></option>
                    <option value="asc" data-i18n="classroom.filter.asc"></option>

                    <option value="alph" data-i18n="classroom.filter.alph"></option>
                    <option value="ralph" data-i18n="classroom.filter.reverseAlph"></option>
                </select>
            </div>

            <div class="col-auto mt-2">
                <button class="btn c-btn-icon-only mx-1" onclick="foldersManager.displayModeSwitch('card')" id="switcherCard">
                    <img src="assets/media/folders/cadrillage.svg" alt="arb-folders" onload="SVGInject(this)">
                </button>
                <button class="btn c-btn-icon-only mx-1" onclick="foldersManager.displayModeSwitch('list')" id="switcherList">
                    <img src="assets/media/folders/arborescence.svg" alt="arb-folders" onload="SVGInject(this)">
                </button>
            </div>
        </div>
    </div>

    <div class="buttons-interactions flex-wrap d-inline-flex col-12 mt-3">
        <button id="new-activity-panel-1" onclick="showExercicePanel()" class=" btn c-btn-outline-secondary"><span class="me-1" data-i18n="classroom.activities.add"></span><i class="fas fa-chevron-right"></i>
        </button>

        <button id="new-activity-panel-2" onclick="coursesManager.showCoursePanel()" class="btn c-btn-outline-primary"><span class="me-1" data-i18n="courses.add">Créer un parcours</span><i class="fas fa-chevron-right"></i>
        </button>

        <button class="btn c-btn-icon-only" id="new-activities-folder" onclick="foldersManager.openFolderModal()">
            <img src="assets/media/folders/createFolder.svg" alt="folders" onload="SVGInject(this)">
        </button>
        <button class="btn c-btn-icon-only" onclick="foldersManager.seekFolderModal()">
            <img src="assets/media/folders/folder_tree.svg" alt="arb-folders" onload="SVGInject(this)" style="height: 30px;">
        </button>

        <button id="new-activity-panel-3" onclick="importActivityFromJSON()" class="btn c-btn-no-outline-primary ms-auto">
            <span class="me-1" data-i18n="newActivities.import">Importer une activité</span><i class="fas fa-download"></i>
        </button>
    </div>

    <div id="list-activities-teacher">

    </div>
</div>

<div id="classroom-dashboard-activities-panel-library-teacher" style="display:none;" class="dashboard-block">
</div>

<div id="classroom-dashboard-new-activity-panel2" style="display:none;" class="dashboard-block class-creation-form-step2">

    <nav class="form-activity-container" style="margin: 0 auto;">
        <div class="col text-center">
            <span class="form-activity form-activity-secondary"><i class="fas fa-check"></i></span>
            <span data-i18n="classroom.activities.form.1"></span>
        </div>

        <div class="col-4"></div>

        <div class="col text-center">
            <span class="form-activity form-activity-activate">2</span>
            <span data-i18n="classroom.activities.form.2"></span>
        </div>
    </nav>

    <div class="text-center px-1">
        <h3 class="c-text-primary text-uppercase font-weight-bold" data-i18n="classroom.activities.form.success"></h3>
    </div>

    <div class="container text-center">
        <div class="row my-2">
            <div class="col-sm mb-2">
                <button id="new-activity-panel3" class="new-activity-panel3 btn c-btn-primary">
                    <span data-i18n="classroom.activities.form.attribute"></span> <i class="fas fa-chevron-right"></i>
                </button>
            </div>
            <div class="col-sm mb-2">
                <button onclick="navigatePanel('classroom-dashboard-activities-panel-teacher', 'dashboard-activities-teacher')" class="btn c-btn-primary">
                    <span data-i18n="classroom.activities.form.return"></span> <i class="fas fa-chevron-right"></i>
                </button>
            </div>

        </div>
        <p data-i18n="classroom.activities.form.hint"></p>
        <button class="btn c-btn-outline-primary" onclick="showExercicePanel()" data-i18n="classroom.activities.form.modify"></button>
    </div>
</div>


<div id="classroom-dashboard-new-activity-panel3" style="display:none;" class="dashboard-block container">
    <nav class="form-activity-container mb-3" style="margin: 0 auto;">
        <div class="col text-center">
            <span class="form-activity form-activity-secondary"><i class="fas fa-check"></i></span>
            <span data-i18n="classroom.activities.form.1">Application</span>
        </div>

        <div class="col"></div>

        <div class=" col text-center">
            <span class="form-activity form-activity-secondary"><i class="fas fa-check"></i></span>
            <span data-i18n="classroom.activities.form.2">Contenu</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <div class=" col text-center">
            <span class="form-activity form-activity-secondary"><i class="fas fa-check"></i></span>
            <span data-i18n="classroom.activities.form.3">Titre</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <div class="col text-center">
            <span class="form-activity form-activity-activate">4</span>
            <span>Attribution</span>
        </div>
    </nav>
    <div class="assign-activity-container" style="margin: 0 auto;">

        <div class="row">
            <div class="col-12 mb-5 text-center">
                <button id="new-activity-attribute" class="btn c-btn-primary mt-5">
                    <span data-i18n="classroom.activities.form.select1"></span> <i class="fas fa-plus"></i>
                </button>
                <div class="mt-2">
                    (<span id="assign-total-student-number">0</span> <span data-i18n="classroom.activities.form.select2"></span>)
                </div>
            </div>
        </div>

        <!-- Submit multiple times -->
        <div class="row">
            <div class="col mb-5 text-center c-primary-form">
                <p id="hint-exist-disclaimer" data-i18n="[html]classroom.activities.hintExist" style="display:none;"></p>
            </div>
        </div>


        <div class="section-facultative-options">

            <div class="section-header-facultative-options" onclick="facultativeOptions()">
                <i id="i-facultative-options" class="ms-2 fas fa-lg fa-chevron-up"></i>
                <h3 class="section-title-facultative-options" data-i18n="classroom.activities.facultative">Options facultatives</h3>
            </div>

            <div id="facultative-options" style="display: none;">
                <div class="container mt-3 pt-1" id="facultative">

                                        <!-- Autocorrect activation -->
                    <div class="row" id="form-add-date">
                        <div class="col mb-5 text-center c-primary-form assign-row">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="isDate-activity-form">
                                <label for="isDate-activity-form" class="form-check-label" data-i18n="classroom.activities.form.addDateActivity"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-xl-6 c-primary-form assign-activity-calendar">
                            <div class="row">
                                <div class="col-6 text-end align-middle">
                                    <label for="date-begin-activity-form" data-i18n="classroom.activities.form.dateBegin"></label>
                                </div>
                                <div class="col-6 text-start">
                                    <input type="date" id="date-begin-activity-form">
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-xl-6 c-primary-form assign-activity-calendar">
                            <div class="row">
                                <div class="col-6 text-end align-middle">
                                    <label for="date-end-activity-form" data-i18n="classroom.activities.form.dateEnd"></label>
                                </div>
                                <div class="col-6 text-start">
                                    <input type="date" id="date-end-activity-form">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Instructions -->
                    <div class="row mt-3">
                        <div class="col-12 mb-5 text-center c-primary-form">
                            <label for="introduction-activity-form">
                                <b data-i18n="classroom.activities.form.instructions"></b>
                                <i data-i18n="words.optional"></i>
                            </label></br>
                            <textarea rows="4" id="introduction-activity-form"></textarea>
                        </div>
                    </div>


                    
                    <div class="assign-row">
                        <div>
                            <label for="isEval-activity-form" data-i18n="classroom.activities.form.nature"></label>
                            <div class="switcher w-fit-content mx-auto">
                                <input type="radio" name="isEval-activity-form" class="switcher__input switcher__input--left" value="false" id="isExo-activity-form" checked=""/>
                                <label for="isExo-activity-form" class="switcher__label text-capitalize" data-i18n="words.yes">Oui</label>
                            
                                <input type="radio" name="isEval-activity-form" class="switcher__input switcher__input--right" value="true" id="isEval-activity-form"/>
                                <label for="isEval-activity-form" class="switcher__label text-capitalize" data-i18n="words.no">Non</label>
                            
                                <span class="switcher__toggle"></span>
                            </div>
                        </div>
                    </div>


                    <!-- Autocorrect activation -->
                    <div class="row" id="form-autocorrect">
                        <div class="col mb-5 text-center c-primary-form assign-row">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="isAutocorrection-activity-form" onclick="autocorrectSwitch()">
                                <label for="isAutocorrection-activity-form" class="form-check-label" data-i18n="classroom.activities.form.autocorrect"></label>
                            </div>
                            <i class="fas fa-info assign-info-icon" id="infoAutocorrect" data-bs-toggle="tooltip" title=""></i>
                        </div>
                    </div>

                    <!-- Activity RetroAttribution  -->
                    <div class="row" id="form-retro-attribution">
                        <div class="col mb-5 text-center c-primary-form assign-row">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="retro-attribution-activity-form">
                                <label class="form-check-label" for="retro-attribution-activity-form" data-i18n="classroom.activities.form.retroAttribution"></label>
                            </div>

                            <i class="fas fa-info assign-info-icon" id="infoRetroAttribution" data-bs-toggle="tooltip" title=""></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row text-center my-2 mt-5">
            <div class="col-sm mb-2">
                <button class="btn c-btn-grey" onclick="navigatePanel('classroom-dashboard-activities-panel-teacher', 'dashboard-activities-teacher')">
                    <i class="fas fa-angle-left"></i> <span class="text-capitalize" data-i18n="words.return"></span>
                </button>
            </div>

            <div class="col-sm order-first order-sm-last mb-2">
                <button id="attribute-activity-to-students" class="btn c-btn-primary" disabled>
                    <span data-i18n="classroom.activities.form.attribute2"></span><i class="fas fa-angle-right"></i>
                </button>
            </div>
        </div>



    </div>
</div>