<div id="classroom-dashboard-classes-panel-teacher" style="display:none;" class="dashboard-block classes-panel">
    <div id="space-groupes"></div>

    <div class="buttons-interactions">
        <button id="teacher-new-classroom-btn" class="btn c-btn-outline-primary teacher-new-classe">
            <span data-i18n="classroom.classes.add"></span> <i class="fas fa-chevron-right"></i>
        </button>
    </div>


    <div class="list-classes mt-3" role="list">
        <div class="class-item">
            <div class="class-card-action action-new-class teacher-new-classe">
                <i class="fas fa-plus fa-5x"></i>
                <h4 id="classroom-card-class-title" data-i18n="classroom.classes.add"></h4>
            </div>
        </div>
    </div>
</div>

<div id="classroom-dashboard-form-classe-panel-update" style="display:none;" class="mx-3 dashboard-block classes-panel class-creation-form">
    <h2 data-i18n="classroom.classes.form.updateTitle"></h2>
    <form id="classroom-update-form">
        <div class="form-group part-content-index part-row c-primary-form">
            <div class="row">
                <label for="classroom-form-name-update" class="tutorial-label" data-i18n="classroom.classes.form.name"></label>
                <input type="text" id="classroom-form-name-update" class="form-control form-control-lg">
            </div>
            <div class="row">
                <label for="classroom-form-school-update" class="tutorial-label" data-i18n="classroom.classes.form.school">
                </label>
                <input type="text" id="classroom-form-school-update" class="form-control form-control-lg">
            </div>   
        </div>
        <a href="#" id="update-classroom-student-button" class="new-student-modal btn c-btn-primary m-3"><i class="fas fa-user-plus"></i><span class="ms-1" data-i18n="classroom.classes.form.addStudent"></span></a>
        <div class="table-students" id="table-students-update">
            <ul>
                <li id="no-student-label-update" data-i18n="classroom.classes.form.noStudent"></li>
            </ul>
        </div>
        <div class="c-checkbox mt-2">
            <input type="checkbox" name="classroom-form-is-blocked" id="classroom-form-is-blocked-update">
            <label for="classroom-form-is-blocked-update" data-i18n="classroom.classes.form.isBlockedButton"></label>
        </div>
        <button type="submit" class="new-classroom-form btn c-btn-primary m-3"><i class="fas fa-save"></i><span class="ms-1" data-i18n="classroom.classes.form.save"></span> </button>
    </form>
</div>

<div id="classroom-dashboard-form-classe-panel" style="display:none;" class="mx-3 dashboard-block classes-panel class-creation-form">
    <h3 data-i18n="classroom.classes.form.title"></h3>
    <form id="classroom-create-form">
        <div class="form-group part-content-index part-row c-primary-form">
            <div class="row">
                <label for="classroom-form-name" class="tutorial-label" data-i18n="classroom.classes.form.name"></label>
                <input type="text" id="classroom-form-name" class="form-control form-control-lg">
            </div>
            <div class="row">
                <label for="classroom-form-school" class="tutorial-label" data-i18n="classroom.classes.form.school">
                </label>
                <input type="text" id="classroom-form-school" class="form-control form-control-lg">
            </div>   
        </div>
<!--         <a href="#" id="create-classroom-student-button" class="new-student-modal btn c-btn-primary m-3"><i class="fas fa-user-plus"></i><span class="ms-1" data-i18n="classroom.classes.form.addStudent"></span></a>
        <div class="table-students" id="table-students">
            <ul>
                <li id="no-student-label" data-i18n="classroom.classes.form.noStudent"></li>
            </ul>
        </div>
        <div class="c-checkbox mt-2">
            <input type="checkbox" name="classroom-form-is-blocked" id="classroom-form-is-blocked">
            <label for="classroom-form-is-blocked" data-i18n="classroom.classes.form.isBlockedButton"></label>
        </div> -->
        <button type="submit" class="new-classroom-form btn c-btn-primary m-3"><i class="fas fa-save"></i><span class="ms-1" data-i18n="classroom.classes.form.save"></span> </button>
    </form>
</div>

<div id="classroom-table-panel-teacher" style="display:none;" class="dashboard-block classes-panel class-stats-panel">
    <div id="classroom-panel-header" style="display: none;">
        <div class="global-class-stats">
            <div class="stat-element">
                <span class="todo-ring">0</span>
                <span class="todo-ring-label">Activités à faire</span>
            </div>
            <div class="stat-element">
                <span class="done-ring">2</span>
                <span class="done-ring-label">Activités réalisées</span>
            </div>
            <div class="stat-element">
                <svg class="average-ring" width="60" height="60">
                    <circle class="average-ring__bg" stroke="var(--classroom-text-2)" stroke-width="4" fill="transparent" r="25" cx="30" cy="30" opacity="0.2" />
                    <circle class="average-ring__circle" stroke="var(--classroom-secondary)" stroke-width="4" fill="transparent" r="25" cx="30" cy="30" />
                    <span class="todo-ring">0</span>
                </svg>
                <span class="average-ring-label">Moyenne générale</span>

            </div>
        </div>
        

    </div>

    <div id="classroom-panel-table-container" class="stylized-scrollbar">
        <table role="table" aria-label="Tableau des élèves et leurs activités">
            <thead role="rowgroup">
                <tr id="header-table-teach" role="row">
                </tr>
            </thead>
            <tbody id="body-table-teach" role="rowgroup">

            </tbody>
        </table>
    </div>

    <div id="classroom-panel-legend">
        <div id="add-student-container" class="ms-3"></div>
        <div id="export-class-container"></div>

        <div id="legend-container">
            <ul class="legend" style="list-style:none;">
                <li class="ms-3">
                    <div class="bilan-legend bilan-3">
                        <div class="monochrome-grade-div"></div>
                        <div class="monochrome-grade-div"></div>
                        <div class="monochrome-grade-div"></div>
                        <div class="monochrome-grade-div"></div>
                    </div>
                    <span data-i18n="classroom.activities.veryGoodProficiency"></span>
                </li>
                <li class="ms-3">
                    <div class="bilan-legend bilan-2">
                        <div class="monochrome-grade-div"></div>
                        <div class="monochrome-grade-div"></div>
                        <div class="monochrome-grade-div"></div>
                        <div class="monochrome-grade-div"></div>
                    </div>
                    <span data-i18n="classroom.activities.goodProficiency"></span>
                </li>
                <li class="ms-3">
                    <div class="bilan-legend bilan-1">
                        <div class="monochrome-grade-div"></div>
                        <div class="monochrome-grade-div"></div>
                        <div class="monochrome-grade-div"></div>
                        <div class="monochrome-grade-div"></div>
                    </div>
                    <span data-i18n="classroom.activities.weakProficiency"></span>
                </li>
                <li class="ms-3">
                    <div class="bilan-legend bilan-0">
                        <div class="monochrome-grade-div"></div>
                        <div class="monochrome-grade-div"></div>
                        <div class="monochrome-grade-div"></div>
                        <div class="monochrome-grade-div"></div>
                    </div>
                    <span data-i18n="classroom.activities.insufficientProficiency"></span>
                </li>
                <li class="ms-3">
                    <div class="bilan-legend bilan-4">
                        <div class="monochrome-grade-div"></div>
                        <div class="monochrome-grade-div"></div>
                        <div class="monochrome-grade-div"></div>
                        <div class="monochrome-grade-div"></div>
                    </div>
                    <span data-i18n="classroom.activities.noProficiency"></span>
                </li>
            </ul>
            <ul class="legend" style="list-style:none; align-items: flex-end">
                <li class="ms-3">
                    <div class="bilan-legend fas fa-pen"></div>
                    <span data-i18n="classroom.activities.todo"></span>
                </li>
                <li class="ms-3">
                    <div class="bilan-legend fas fa-stopwatch"></div>
                    <span data-i18n="classroom.activities.waiting"></span>
                </li>

                <li class="ms-3 c-checkbox" style="height: 1.6em;">
                    <input type="checkbox" id="is-monochrome" title="" class="me-2">
                    <label for="is-monochrome">
                        <span class="me-2">Mode monochrome</span>
                    </label>
                </li>

                <li class="ms-3 c-checkbox" style="height: 1.6em;">
                    <input type="checkbox" id="is-anonymised" title="" class="me-2">
                    <label for="is-anonymised">
                        <span class="text-capitalize me-2" data-i18n="words.anonymize"></span><i data-i18n="[title]classroom.activities.anonymise" class="fas fa-question-circle"></i>
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div id="classroom-info">
        <!-- title="Lien d'activation activé" -->
        <button class="btn c-btn-secondary" id="blocking-class-tooltip" class="blocking-class" onclick="toggleBlockClass()" data-bs-toggle="tooltip" data-i18n="[title]words.anonymize" >
            <i class="fa fa-lock-open"></i>
        </button>

        <div>
            <span data-i18n="classroom.activities.toCopy"></span>
            <span id="classroom-link-tocopy">
                <span style="display:none;" id="hidden-link-prefix"></span>
                <span class="classroom-link"></span>
            </span>
        </div>
        
        <button class="btn c-btn-secondary" class="blocking-class" onclick="navigatePanel('classroom-table-panel-teacher-code', 'dashboard-classes-teacher')" data-bs-toggle="tooltip" title="Afficher en plein écran">
            <i class="fa fa-expand"></i>
        </button>

    </div>

</div>


<div id="classroom-table-panel-teacher-code" style="display:none;" class="row dashboard-block classes-panel class-stats-panel">
    <div id="classroom-code-share-container">
        <button id="code-share-close-btn" onclick="backToClassroomFromCode()" class="btn c-btn-primary">
            <i class="fas fa-times"></i>
        </button>

        <div>
            <button id="return-to-add-student-modal" onclick="Main.getClassroomManager().returnToAddStudentModal()" class="btn c-btn-primary top-left-return-btn d-none">
                <span data-i18n="words.return">Retour</span>
            </button>
            <span data-i18n="classroom.activities.toCopy" class="mobile-mt-2"></span>
            <span class="classroom-link" id="classroom-link-share"></span>
            <span id="complete-classroom-link" class="complete-classroom-link"></span>
            <button id="code-copy" class="btn c-btn-secondary" title="Copier le lien direct" class="js-copy" data-target="#classroom-link-tocopy" data-i18n="classroom.classes.panel.copyLink">Copier le lien direct</button>
        </div>

        <div>
            <span data-i18n="classroom.activities.qrCode"></span> </br>
            <div id="classroom-code-share-qr-code">
                
            </div>
            <div class="my-3 d-flex justify-content-center flex-column gap-2">
                <button id="qr-copy" class="btn c-btn-secondary" title="Copier l'image" class="js-copy" data-i18n="classroom.classes.panel.copyImage">Copier l'image</button>
                <button id="qr-download" class="btn c-btn-secondary" title="Téléverser l'image" class="js-copy" data-i18n="classroom.classes.panel.downloadImage">Téléverser l'image</button>
            </div>
        </div>
    </div>
</div>