<!-- Main page -->
<div id="classroom-dashboard-classes-new-course" style="display:none;" class="dashboard-block">
    
    
    <!-- Top progress bar  -->
    <nav class="row form-activity-container" style="margin: 0 auto;">
        <!-- Step 1 -->
        <div class="col text-center">
            <span class="form-activity form-activity-activate">1</span>
            <span data-i18n="">Création du parcours</span>
        </div>

        <div class="col"></div>

        <!-- Step  -->
        <div class=" col text-center">
            <span class="form-activity form-activity-desactivate">2</span>
            <span data-i18n="">Titre</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <!-- Step 3 -->
        <div class=" col text-center">
            <span class="form-activity form-activity-desactivate">3</span>
            <span data-i18n="">Paramètres</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <!-- Step 4 -->
        <div class="col text-center">
            <span class="form-activity form-activity-desactivate">4</span>
            <span data-i18n="classroom.activities.form.4">Attribution</span>
        </div>
    </nav>


    <div class="container">


        <div id="course-content" class="col-8 course-content">
            <p>
                <span>Activités</span><span>* Obligatoire</span>
            </p>

            <div class="col-sm mb-2">
                <button class="btn c-btn-grey" id="course-add-activity" onclick="coursesManager.addActivityToCourse()">
                    <span data-i18n="">Ajouter une activité</span>
                </button>

                <button class="btn c-btn-secondary" id="course-create-activity">
                    <span data-i18n=""><span class="mr-1" data-i18n="classroom.activities.add">Créer une activité</span><i class="fas fa-chevron-right"></i>
                </button>
            </div>


            <div id="course-activities-content" class="course-activities-content">


            </div>

        </div>
        


        <div class="row text-center w-100">
            <div class="col-sm mb-2">
                <button class="btn c-btn-grey" onclick="" id="course-visualize">
                    <span data-i18n="">Visualiser</span>
                </button>
            </div>
            <div class="col-sm order-first order-sm-last mb-2">
                <button class="btn c-btn-secondary" onclick="coursesManager.goToTitle(true)" id="course-validate">
                    <span data-i18n="classroom.activities.form.validate">Valider</span> <i class="fas fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>




<div id="classroom-dashboard-classes-new-course-title" style="display:none;" class="dashboard-block">
    
    
    <!-- Top progress bar  -->
    <nav class="row form-activity-container" style="margin: 0 auto;">
        <!-- Step 1 -->
        <div class="col text-center">
            <span class="form-activity form-activity-activate"><i class="fas fa-check"></i></span>
            <span data-i18n="">Création du parcours</span>
        </div>

        <div class="col"></div>

        <!-- Step  -->
        <div class=" col text-center">
            <span class="form-activity form-activity-activate">2</span>
            <span data-i18n="">Titre</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <!-- Step 3 -->
        <div class=" col text-center">
            <span class="form-activity form-activity-desactivate">3</span>
            <span data-i18n="">Paramètres</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <!-- Step 4 -->
        <div class="col text-center">
            <span class="form-activity form-activity-desactivate">4</span>
            <span data-i18n="classroom.activities.form.4">Attribution</span>
        </div>
    </nav>

    <div class="container">

        <div id="course-title-content" class="col-8 course-content">
            
            <div class="form-group">
                <label for="course-title">Titre de l'activité <span class="c-text-red">*Obligatoire</span></label>
                <input type="text" class="form-control" id="course-title" placeholder="Titre de votre activité">
            </div>

            <div class="form-group">
                <label for="course-description">Description <span class="c-text-red">*Obligatoire</span></label>
                <textarea class="form-control" id="course-description" placeholder="Quelques mots de présentation"></textarea>
            </div>

            <div class="form-group">
                <label for="course-image">Image de couverture <span class="c-text-red">*Obligatoire</span></label>
                <input type="file" class="form-control" id="course-image" placeholder="Ajouter une image">
            </div>

        </div>
        


        <div class="row text-center w-100">
            <div class="col-sm mb-2">
                <button class="btn c-btn-grey" onclick="coursesManager.goToCreate()" id="course-visualize">
                    <span data-i18n="">Retour</span>
                </button>
            </div>
            <div class="col-sm order-first order-sm-last mb-2">
                <button class="btn c-btn-secondary" onclick="coursesManager.goToParameters()" id="course-validate">
                    <span data-i18n="classroom.activities.form.validate">Valider</span> <i class="fas fa-check"></i>
                </button>
            </div>
        </div>

    </div>
    

</div>


<div id="classroom-dashboard-classes-new-course-parameters" style="display:none;" class="dashboard-block">
    
    
    <!-- Top progress bar  -->
    <nav class="row form-activity-container" style="margin: 0 auto;">
        <!-- Step 1 -->
        <div class="col text-center">
            <span class="form-activity form-activity-activate"><i class="fas fa-check"></i></span>
            <span data-i18n="">Création du parcours</span>
        </div>

        <div class="col"></div>

        <!-- Step  -->
        <div class=" col text-center">
            <span class="form-activity form-activity-activate"><i class="fas fa-check"></i></span>
            <span data-i18n="">Titre</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <!-- Step 3 -->
        <div class=" col text-center">
            <span class="form-activity form-activity-activate">3</span>
            <span data-i18n="">Paramètres</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <!-- Step 4 -->
        <div class="col text-center">
            <span class="form-activity form-activity-desactivate">4</span>
            <span data-i18n="classroom.activities.form.4">Attribution</span>
        </div>
    </nav>

    <div class="container">

        <div id="course-title-content" class="col-8 course-content">
            
            <div class="form-row c-secondary-form">
                <div class="form-group col-md">
                    <label for="course-difficulty">Difficulté <span class="c-text-red">*Obligatoire</span></label>
                    <select class="form-control" id="course-difficulty" aria-label="Default select example">
                        <option selected>Choississez la difficulté</option>
                        <option value="0">Facile</option>
                        <option value="1">Intermédiaire</option>
                        <option value="2">Avancé</option>
                        <option value="3">Expert</option>
                    </select>
                </div>

                <div class="form-group col-md">
                    <label for="course-support">Support <span class="c-text-red">*Obligatoire</span></label>
                    <select class="form-control" id="course-support" aria-label="Default select example">
                        <option selected>Choississez le support</option>
                        <option value="0">Arduino</option>
                        <option value="1">BBC micro:bit</option>
                        <option value="2">Python</option>
                        <option value="3">STM32</option>
                        <option value="4">ESP32</option>
                        <option value="5">TI-83 Premium CE</option>
                        <option value="6">Raspberry Pi</option>
                    </select>
                </div>
            </div>
            
            <div class="form-row c-secondary-form">

                <div class="form-group col-md">
                    <label for="course-duration">Durée (en min)<span class="c-text-red">*Obligatoire</span></label>
                    <input type="number" name="course-duration" id="course-duration" class="form-control" value="1" min="1">
                </div>

                <div class="form-group col-md">
                    <label for="course-language">Langue <span class="c-text-red">*Obligatoire</span></label>
                    <select class="form-control" id="course-language" aria-label="Default select example">
                        <option selected>Choississez la langue</option>
                        <option value="0">Français</option>
                        <option value="1">Anglais</option>
                        <option value="2">Italien</option>
                        <option value="3">Arabe</option>
                    </select>
                </div>
            </div>

            <div class="form-row c-secondary-form">
                <div class="form-group col-md">
                    <label for="course-license">License d'utilisation <span class="c-text-red">*Obligatoire</span></label>
                    <select class="form-control" id="course-license" aria-label="Default select example">
                        <option selected>Choississez la licence</option>
                        <option value="0">Privée (vous seul•e pouvez voir cette ressource)</option>
						<option value="3">Déréférencée (ressource partageable par lien mais introuvable sur la page Ressources)</option>
						<option value="1">Publique CC-BY-NC-SA (ressource libre, non-commerciale et modifiable)</option>
						<option value="2">Publique CC-BY-NC-ND (ressource libre, non-commerciale et non-modifiable)</option>
                    </select>
                </div>
            </div>

            <div class="section-course-options">

                <div class="section-header-course-options" onclick="coursesManager.facultativeOptions()">
                    <i id="i-course-options" class="ml-2 fas fa-lg fa-chevron-up"></i>
                    <h3 class="section-title-course-options" data-i18n="classroom.activities.facultative">Options facultatives</h3>
                </div>
                <div id="course-options" style="display: none;">
                    <div class="form-group">
                        <label for="course-chapters">Chapitre</label>
                        <button class="btn btn-outline-success btn-lg btn-block" id="course-chapters" onclick="coursesManager.addChapterToCourse()">Ajouter un chapitre lié</button>

                        <div id="course-chapters-content"></div>
                    </div>

                    <div class="form-group">
                        <label for="course-products">Produit</label>
                        <button  class="btn btn-outline-success btn-lg btn-block" id="course-products" onclick="coursesManager.addProductToCourse()">Ajouter un produit lié</button>

                        <div id="course-products-content"></div>
                    </div>

                    <div class="form-group">
                        <label for="course-tutorials">Tutoriel</label>
                        <button class="btn btn-outline-success btn-lg btn-block" id="course-tutorials" onclick="coursesManager.addTutorialToCourse()">Ajouter un tutoriel lié</button>

                        <div id="course-tutorials-content"></div>
                    </div>
                </div>
            </div>

        </div>
        


        <div class="row text-center w-100">
            <div class="col-sm mb-2">
                <button class="btn c-btn-grey" onclick="coursesManager.goToTitle()" id="course-visualize">
                    <span data-i18n="">Retour</span>
                </button>
            </div>
            <div class="col-sm order-first order-sm-last mb-2">
                <button class="btn c-btn-secondary" onclick="coursesManager.goToAttribution()" id="course-validate">
                    <span data-i18n="classroom.activities.form.validate">Valider</span> <i class="fas fa-check"></i>
                </button>
            </div>
        </div>

    </div>
</div>




<div id="classroom-dashboard-classes-new-course-attribution" style="display:none;" class="dashboard-block container">
    <!-- Top progress bar  -->
    <nav class="row form-activity-container" style="margin: 0 auto;">
        <!-- Step 1 -->
        <div class="col text-center">
            <span class="form-activity form-activity-activate"><i class="fas fa-check"></i></span>
            <span data-i18n="">Création du parcours</span>
        </div>

        <div class="col"></div>

        <!-- Step  -->
        <div class=" col text-center">
            <span class="form-activity form-activity-activate"><i class="fas fa-check"></i></span>
            <span data-i18n="">Titre</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <!-- Step 3 -->
        <div class=" col text-center">
            <span class="form-activity form-activity-activate"><i class="fas fa-check"></i></span>
            <span data-i18n="">Paramètres</span>
        </div>

        <div class="col" style="border-bottom: 1px solid var(--classroom-text-1); height: 1px; align-self: center;"></div>

        <!-- Step 4 -->
        <div class="col text-center">
            <span class="form-activity form-activity-activate">4</span>
            <span data-i18n="classroom.activities.form.4">Attribution</span>
        </div>
    </nav>

    <div class="assign-activity-container" style="margin: 0 auto;">

        <div class="row">
            <div class="col-12 mb-5 text-center">
                <button id="new-activity-attribute" class="btn c-btn-primary mt-5">
                    <span data-i18n="classroom.activities.form.select1"></span> <i class="fas fa-plus"></i>
                </button>
                <div class="mt-2">
                    (<span id="assign-total-student-number">0</span> <span data-i18n="classroom.activities.form.select2"></span>)
                </div>
            </div>
        </div>


        <!-- Autocorrect activation -->
        <div class="row" id="form-autocorrect">
            <div class="col mb-5 text-center c-primary-form assign-row">
                <div class="c-checkbox">
                    <input type="checkbox" id="isAutocorrection-activity-form" onclick="autocorrectSwitch()">
                    <label for="isAutocorrection-activity-form">
                        <span data-i18n="classroom.activities.form.autocorrect"></span>
                    </label>
                </div>
                <i class="fas fa-info assign-info-icon" id="infoAutocorrect" data-toggle="tooltip" title=""></i>
            </div>
        </div>


        <!-- Submit multiple times -->
        <div class="row">
            <div class="col mb-5 text-center c-primary-form">
                <div class="assign-row">
                    <div>
                        <label for="isEval-activity-form" data-i18n="classroom.activities.form.nature"></label>
                        <div class="switcher">
                            <input type="radio" name="isEval-activity-form" value="false" id="isExo-activity-form" checked>
                            <label for="isExo-activity-form" class="switcher__label text-capitalize" data-i18n="words.yes"></label>

                            <input type="radio" name="isEval-activity-form" value="true" id="isEval-activity-form">
                            <label for="isEval-activity-form" class="switcher__label text-capitalize" data-i18n="words.no"></label>

                            <span class="switcher__toggle"></span>
                        </div>
                    </div>

<!--                     <i class="fas fa-info assign-info-icon" id="infoEvaluation" data-toggle="tooltip" title=""></i> -->
                </div>

                <p id="hint-exist-disclaimer" data-i18n="[html]classroom.activities.hintExist" style="display:none;"></p>
            </div>
        </div>


        <div class="section-facultative-options">

            <div class="section-header-facultative-options" onclick="facultativeOptions()">
                <i id="i-facultative-options" class="ml-2 fas fa-lg fa-chevron-up"></i>
                <h3 class="section-title-facultative-options" data-i18n="classroom.activities.facultative">Options facultatives</h3>
            </div>

            <div id="facultative-options" style="display: none;">
                <div class="container mt-3 pt-1" id="facultative">

                    <div class="row">
                        <div class="col-12 col-xl-6 c-primary-form assign-activity-calendar">
                            <div class="row">
                                <div class="col-6 text-right align-middle">
                                    <label for="date-begin-activity-form" data-i18n="classroom.activities.form.dateBegin"></label>
                                </div>
                                <div class="col-6 text-left">
                                    <input type="date" id="date-begin-activity-form">
                                </div>
                            </div>
                        </div>
    
                        <div class="col-12 col-xl-6 c-primary-form assign-activity-calendar">
                            <div class="row">
                                <div class="col-6 text-right align-middle">
                                    <label for="date-end-activity-form" data-i18n="classroom.activities.form.dateEnd"></label>
                                </div>
                                <div class="col-6 text-left">
                                    <input type="date" id="date-end-activity-form">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Instructions -->
                    <div class="row mt-3">
                        <div class="col-12 mb-5 text-center c-primary-form">
                            <label for="introduction-activity-form">
                                <b data-i18n="classroom.activities.form.instructions"></b>
                                <i data-i18n="words.optional"></i>
                            </label></br>
                            <textarea rows="4" id="introduction-activity-form"></textarea>
                        </div>
                    </div>
    
                    <!-- Activity RetroAttribution  -->
                    <div class="row" id="form-retro-attribution">
                        <div class="col mb-5 text-center c-primary-form assign-row">
                            <div class="c-checkbox">
                                <input type="checkbox" id="retro-attribution-activity-form">
                                <label for="retro-attribution-activity-form">
                                    <span data-i18n="classroom.activities.form.retroAttribution"></span>
                                </label>
                            </div>
                            <i class="fas fa-info assign-info-icon" id="infoRetroAttribution" data-toggle="tooltip" title=""></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row text-center my-2 mt-5">
            <div class="col-sm mb-2">
                <button class="btn c-btn-grey" onclick="coursesManager.goToParameters()">
                    <i class="fas fa-angle-left"></i> <span class="text-capitalize" data-i18n="words.return"></span>
                </button>
            </div>

            <div class="col-sm order-first order-sm-last mb-2">
                <button id="attribute-activity-to-students" class="btn c-btn-primary" disabled>
                    <span data-i18n="classroom.activities.form.attribute2"></span><i class="fas fa-angle-right"></i>
                </button>
            </div>
        </div>



    </div>
</div>