<div id="classroom-dashboard-help-panel-teacher" style="display:none;" class="dashboard-block help-panel">
    <div class="contact-panel">

        <h2 data-i18n="classroom.teacherHelpPanel.contactForm.title" class="title-margin">Contacter Vittascience</h2>

        <div id="about-contact-info">

            <form id="about-contact-form" class="c-primary-form">
                <div class="form-group">
                    <label for="contact-subject-input" class="sr-only">Objet</label>
                    <input type="text" name="subject" class="form-control" id="contact-subject-input" data-i18n="[placeholder]classroom.teacherHelpPanel.contactForm.objectPlaceholder" placeholder="Objet">
                </div>

                <div class="form-group">
                    <label for="contact-message-input" class="sr-only">Message</label>
                    <textarea name="message" id="contact-message-input" class="form-control my-2" rows="8" cols="25" style="resize: none;" data-i18n="[placeholder]classroom.teacherHelpPanel.contactForm.messagePlaceholder" placeholder="Écrivez votre message ici. (Maximum 800 caractères)"></textarea>
                </div>

                <input type="submit" class="btn c-btn-primary" data-i18n="[value]classroom.teacherHelpPanel.contactForm.sendButton" disabled="disabled" style="cursor:not-allowed;float: right;">
            </form>
        </div>
        <br>
        <div id="footer-content">
            <p>
                <a class="footer-link text-uppercase" href="/classroom/privacy.php" target="_blank" data-i18n="[html]classroom.footer.privacy"></a>
            </p>
            <p>
                <a class="footer-link text-uppercase" href="/classroom/cgu.php" target="_blank" data-i18n="[html]classroom.footer.cgu"></a>
            </p>
            <p>
                <a class="footer-link text-uppercase" href="/classroom/legal.php" target="_blank" data-i18n="[html]classroom.footer.legal"></a>
            </p>
            <p data-i18n="classroom.footer.copyright">
            </p>
        </div>
    </div>
    
    <div class="faq-panel">
        <h2 class="c-text-secondary font-weight-bold text-center mt-3">FAQ</h2>
        <div id="teacher-faq-container"></div>
    </div>

</div>